<div id="center" class="floatr">
	<div id="v-thin-line">
    
		<h1>Aerospace Engineering</h1>
		<br />
		<p class="cut-off">Overview</p>
		<div class="medium-text">
			<p>Aeronautical engineers work with all kinds of aircraft - from gliders to space 
				shuttles. They can design, develop, or help manufacture 
				aircraft - including rockets and spacecraft. Some work labs testing aircraft, 
				while others investigate crashes and systems failures to 
				determine the cause and prevent future accidents. Many engineers specialize in 
				one area, like structural design, navigation systems, or 
				manufacturing techniques. Others choose to specialize in a particular kind of 
				air or space craft.</p>
			<br />
			<p class="cut-off">Examples</p>
			<img align="right" src="{php}echo base_url(){/php}images/branches/aerospace1.jpg" alt="Aerospace Engineering" />
			<ol>
				<li>Improve the safety of the space shuttles</li>
				<li>Build a more spacious airliner</li>
				<li>Create satellites that detect drought around the world</li>
				<li>Design robots that collect samples on other planets, revealing insights about 
					our galaxy</li>
				<li>Develop parachutes, using new materials to improve their performance</li>
			</ol>
			<br />
			<p class="cut-off">Work Environment</p>
			<p>Beginning engineering graduates usually work under the supervision of 
				experienced engineers and, in large companies, also may receive formal 
				classroom or seminar-type training. As new engineers gain knowledge and 
				experience, they are assigned more difficult projects with greater independence 
				to develop designs, solve problems, and make decisions. Engineers may advance to 
				become technical specialists or to supervise a staff or team of 
				engineers and technicians. Some may eventually become engineering managers or 
				enter other managerial or sales jobs. </p>
			<br />
			<p class="cut-off">Job Duties</p>
			<img align="right" src="{php}echo base_url(){/php}images/branches/aerospace2.jpg" alt="Aerospace Engineering" />
			<p>Aerospace engineers develop new technologies for use in aviation, defense 
				systems, and space exploration, often specializing in areas such as 
				structural design, guidance, navigation and control, instrumentation and 
				communication, or production methods. They often use computer-aided design 
				(CAD) software, robotics, and lasers and advanced electronic optics. They also 
				may specialize in a particular type of aerospace product, such as 
				commercial transports, military fighter jets, helicopters, spacecraft, or 
				missiles and rockets. Aerospace engineers may be experts in aerodynamics, 
				thermodynamics, celestial mechanics, propulsion, acoustics, or guidance and 
				control systems. </p>
			<br />
			<p class="cut-off">The Workplace</p>
			<p>Aerospace engineers typically are employed in the aerospace product and parts 
				industry, although their skills are becoming increasingly valuable in 
				other fields. For example, in the motor vehicles manufacturing industry, 
				aerospace engineers design vehicles that have lower air resistance and, thus, 
				increased fuel efficiency.</p>
			<br />
			<p class="cut-off">Teams and Coworkers</p>
			<img align="right" src="{php}echo base_url(){/php}images/branches/aerospace3.jpg" alt="Aerospace Engineering" />
			<p>Almost all jobs in engineering require some sort of interaction with coworkers. 
				Whether they are working in a team situation, or just asking for 
				advice, most engineers have to have the ability to communicate and work with 
				other people. Engineers should be creative, inquisitive, analytical, 
				and detail-oriented. They should be able to work as part of a team and to 
				communicate well, both orally and in writing. Communication abilities are 
				important because engineers often interact with specialists in a wide range of 
				fields outside engineering.</p>
			<br />
			<p class="cut-off">Career Path Forecast</p>
			<p>Aerospace engineers are expected to have employment growth of 9 percent (find 
				out)over the projections decade of 2010-2015 as per Indian Economy projections by 
				planning commission.
				Increases in the number and scope of military aerospace projects likely will 
				generate new jobs. 
				In addition, new technologies expected to be used on commercial aircraft 
				produced during the next decade should spur demand for aerospace engineers. </p>
		</div>
	</div>
</div>
