<div id="center" class="floatr">
	<div id="v-thin-line">
		<h1>Agriculture Engineering</h1>
		<br />
		<p class="cut-off">Overview</p>
		<div class="medium-text">
			<p>Working with farmers, agri-businesses, and conservation organizations, agricultural engineers develop solutions to problems 
			relating to both the use and conservation of soil, water, and forest resources. Agricultural engineers also develop technologies 
			to improve crop and livestock production, improve food processing techniques, or extend the storage-life of perishable products 
			like produce or flowers.</p>
			<br />
			<p class="cut-off">Examples</p>
			<img align="right" src="{php}echo base_url(){/php}images/branches/agriculture1.jpg" alt="Agriculture Engineeringg" />
			<ol>
				<li><b>Design</b> and build irrigation and drainage systems to provide water to crops and cut down on soil erosion. </li>
				<li><b>Establish and supervise</b> conservation or recreation management plans.</li>
				<li><b>Devise</b> new ways of harvesting crops like apples, tomatoes, corn, cut flowers, and fish.</li>
				<li><b>Apply</b> new technologies, like computers to farming operations like processing and distributing animal feed. </li>
				<li><b>Develop</b> specialized greenhouses used to grow exotic plants for florists. </li>
			</ol>
			<br />
			<p class="cut-off">Work Environment</p>
			<p>Agricultural Engineers combine engineering principles with biological and agricultural sciences. They work to develop 
			equipment, systems, and processes that help improve how the world's food supply is produced and distributed. They are involved 
			in problem solving, and must have the ability to analyze a current system with an eye toward improving the current process.  
			They often have to look beyond a specific challenge, such as a machine, or storage solution, and consider a larger system, 
			and how improvements or changes would affect the whole. </p>
			<br />
			<p class="cut-off">Job Duties</p>
			<img align="right" src="{php}echo base_url(){/php}images/branches/agriculture2.jpg" alt="Agriculture Engineeringg" />
			<p>Agricultural engineers often work in teams, and their duties involve analysis of current methods and equipment applied to 
			the production, packing, and delivery of food products.  They might work in a group with other engineers, or those outside of 
			engineering, to solve problems related to systems, processes, and machines.  They may be involved in designing a water irrigation 
			system, or in determining alternative uses for agricultural byproducts. They may participate in legal or financial consulting regarding 
			agricultural processes, equipment, or issues.  
			</p><p>Some agricultural engineers focus on machinery, and may design equipment used in agriculture and construction.  These engineers might have a 
			special interest in crop handling, hydraulic power, or the growth of specific crops.  They may be employed by machine manufacturing firms.  
			Other agricultural engineers may find themselves designing buildings or other structures used for livestock, storage of grains, or experimental 
			growing facilities.  Still other agricultural engineers might focus on developing systems for food processing, such as drying processes, distillation, 
			or long term storage. 
			</p>
			<br />
			<p class="cut-off">The Workplace</p>
			<p>The type of job agricultural engineers have often determines whether they work inside or outside.  
			However, most work inside a majority of the time.  Some agricultural engineers whose tasks require visits to farms, 
			animal operations, or seed manufacturers may find that they travel frequently.  Many agricultural engineers find that 
			working directly with growers, for example, provides immediate job satisfaction as it allows them to interact with people their 
			work affects.</p>
			<br />
			<p class="cut-off">Teams and Coworkers</p>
			<img align="right" src="{php}echo base_url(){/php}images/branches/agriculture3.jpg" alt="Agriculture Engineeringg" />
			<p>Almost all jobs in engineering require some sort of interaction with coworkers. Whether they are working in a team situation, 
			or just asking for advice, most engineers have to have the ability to communicate and work with other people. Engineers should be 
			creative, inquisitive, analytical, and detail-oriented. They should be able to work as part of a team and to communicate well, 
			both orally and in writing. Communication abilities are important because engineers often interact with specialists in a wide range 
			of fields outside engineering.</p>
		
		</div>
	</div>
</div>
