<div id="center" class="floatr">
	<div id="v-thin-line">
		<h1>Biomedical Engineering</h1>
		<br />
		<p class="cut-off">Overview</p>
		<div class="medium-text">
			<p>Biomedical engineers work in different areas of medicine focusing on various ways that technology can be used to treat or alleviate 
			biological or medical problems. Some look at how different substances are processed in the body and generate medicines to enhance those 
			processes. Others focus on developing materials that will promote healing or that can replace worn or injured body parts. Some biomedical 
			engineers specialize in electronics or mechanics that have medical applications.</p>
			<br />
			<p class="cut-off">Examples</p>
			<img align="right" src="{php}echo base_url(){/php}images/branches/biomed1.jpg" alt="Biomedical Engineering" />
			<ol>
				<li>Create a prosthetic leg designed especially for children</li>
				<li>Grow tissues that help repair damage from heart attacks</li>
				<li>Protect the environment by producing organic fertilizer</li>
				<li>Grow vegetables that contain more nutrients</li>
				<li>Develop cancer treatments that don't cause debilitating side effects </li>
			</ol>
			<br />
			<p class="cut-off">Work Environment</p>
			<p>By combining biology and medicine with engineering, biomedical engineers develop devices and procedures that solve medical and 
			health-related problems. Many do research, along with life scientists, chemists, and medical scientists, to develop and evaluate systems 
			and products for use in the fields of biology and health, such as artificial organs, prostheses (artificial devices that replace missing 
			body parts), instrumentation, medical information systems, and health management and care delivery systems.</p><p>
Bioengineers engineers design devices used in various medical procedures, such as the computers used to analyze blood or the laser systems used 
in corrective eye surgery. They develop artificial organs, imaging systems such as magnetic resonance, ultrasound, and x-ray, and devices for 
automating insulin
injections or controlling body functions. Most engineers in this specialty require a sound background in one of the basic engineering specialties, 
such as mechanical or electronics engineering, in addition to specialized biomedical training. Some specialties within bioengineering or biomedical 
engineering include biomaterials, biomechanics, medical imaging, rehabilitation engineering, and orthopedic engineering. 
</p>
			<br />
			<p class="cut-off">Job Duties</p>
			<img align="right" src="{php}echo base_url(){/php}images/branches/biomed2.jpg" alt="Biomedical Engineering" />
			<p>Examples of work done by biomedical engineers include:<br/> </p>
			<ul>
			<li>Designing and constructing cardiac pacemakers, defibrillators, artificial kidneys, blood oxygenators, hearts, blood vessels, joints, arms, and legs. 
<li>Designing computer systems to monitor patients during surgery or in intensive care, or to monitor healthy persons in unusual environments, such as astronauts in space or underwater divers at great depth. 
<li>Designing and building sensors to measure blood chemistry, such as potassium, sodium, 02, CO2, and pH. 
<li>Designing and constructing biomaterials and determining the mechanical, transport, and biocompatibility properties of implantable artificial materials. 
</li>
<li>Constructing and implementing mathematical/computer models of physiological systems. 
</li>
<li>Designing, building and investigating medical imaging systems based on X-rays (computer assisted tomography), isotopes (position emission tomography), magnetic fields (magnetic resonance imaging), ultrasound, or newer modalities. 
</li>
<li>Designing clinical laboratories and other units within the hospital and health care delivery system that utilize advanced technology. Examples would be a computerized analyzer for blood samples, ambulances for use in rural areas, or a cardiac catheterization laboratory. 
</li>
<li>Developing strategies for clinical decision making based on expert systems and artificial intelligence, such as a computer-based system for selecting seat cushions for paralyzed patients or for, managing the care of patients with severe burns or for diagnosing diseases. 
</li>
<li>Designing instruments and devices for therapeutic uses, such as a laser system for eye surgery or a device for automated delivery of insulin.</li> 
<li>Implementing new diagnostic procedures, especially those requiring engineering analyses to determine parameters that are not directly accessible to measurements, such as in the lungs or heart.</li> 
<li>Investigating the biomechanics of injury and wound healing. </li>
</ul>
			<br />
			<p class="cut-off">The Workplace</p>
			<p>Bioengineers hold about 9,700 jobs in the U.S. Manufacturing industries
			 employed 38 percent of all biomedical engineers, primarily in the 
			 pharmaceutical and medicine manufacturing and medical instruments and 
			 supplies industries. Many others worked for hospitals. Some also worked 
			 for government agencies or as independent consultants.</p>
			<br />
			<p class="cut-off">Teams and Coworkers</p>
			<img align="right" src="{php}echo base_url(){/php}images/branches/biomed3.jpg" alt="Biomedical Engineering" />
			<p>Almost all jobs in engineering require some sort of interaction with coworkers. Bioengineers will be working 
			closely with medical doctors and medical assistants -- in teams to solve a wide range of challenges. Whether they
			 are working in a team situation, or just asking for advice, most engineers have to have the ability to communicate 
			 and work with other people. Engineers should be creative, inquisitive, analytical, and detail-oriented. They 
			 should be able to work as part of a team and to communicate well, both orally and in writing. Communication abilities
			  are important because engineers often interact with specialists in a wide range of fields outside engineering.
				 </p>
			<br />
			<p class="cut-off">Career Path Forecast</p>
			<p>The focus on health issues will drive demand for better medical devices and equipment designed by biomedical 
			engineers. 
Along with the demand for more sophisticated medical equipment and procedures, an increased concern for cost-effectiveness
 will boost demand for biomedical engineers, particularly in pharmaceutical manufacturing and related industries. 
However, because of the growing interest in this field, the number of degrees granted in biomedical engineering has
 increased greatly. Biomedical engineers, particularly those with only a bachelor's degree, may face competition for jobs. 
 Unlike many other engineering specialties, a graduate degree is recommended or required for many entry-level jobs.
</p>
		</div>
	</div>
</div>
