
<div id="center" class="floatr">
	<div id="v-thin-line">
<div class="medium-text">
	<h1>Chemical Engineering</h1>		<div class="large-context">
        <ul>
		  <li><a href="#Overview">Overview</a></li>
	      <li><a href="#DayintheLife">Day in the Life</a></li>
		  <li><a href="#JobDuties">Job Duties</a></li>
		  <li><a href="#TheWorkplace">The Workplace </a></li>
		  <li><a href="#Teams">Teams and Coworkers</a></li>
		  <li><a href="#Employment">Employment</a> </li>
		  <li><a href="#CareerPathForecast">Career Path Forecast </a></li>
		</ul>
        </div>
		<p class="cut-off">Overview<a name="Overview" id="Overview"></a></p>
	<p> It would take too long to list all the products that are impacted by chemical 
		engineers, but knowing what industries employ them may help you comprehend the 
		scope of their work. Chemical engineers work in manufacturing, pharmaceuticals, 
		healthcare, design and construction, pulp and paper, petrochemicals, food 
		processing, specialty chemicals, polymers, biotechnology, and environmental health and 
		safety industries, among others.&nbsp; Within these industries, chemical 
		engineers rely on their knowledge of mathematics and science, particularly chemistry, to 
		overcome technical problems safely and economically. And, of course, they draw 
		upon and apply their engineering knowledge to solve any technical challenges they 
		encounter. </p>
	<p> Don't make the mistake of thinking that chemical engineers only make things, 
		though. Their expertise is also applied in the area of law, education, publishing, 
		finance, and medicine, as well as many other fields that require technical 
		training.<br />
		<br />
		Specifically, chemical engineers improve food processing techniques, and 
		methods of producing fertilizers, to increase the quantity and quality of available 
		food. They also construct the synthetic fibers that make our clothes more 
		comfortable and water resistant; they develop methods to mass-produce drugs, making 
		them more affordable; and they create safer, more efficient methods of refining 
		petroleum products, making energy and chemical sources more productive and cost 
		effective. <br />
		They also develop solutions to environmental problems, such as pollution 
		control and remediation. And yes, they process chemicals, which are used to make or 
		improve just about everything you see around you.<br />
		<br />
		Chemical engineers face many of the same challenges that other professionals 
		face, and they meet these challenges by applying their technical knowledge, 
		communication and teamwork skills, the most up-to-date practices available, and hard 
		work. Benefits include financial reward, recognition within industry and 
		society, and the gratification that comes from working with the processes of nature to 
	  meet the needs of society.</p>
	<div align="right">[ <a href="javascript:scroll(0,0)">Top</a> ]</div>
	<p><span class="cut-off">Day in the Life</span><span class="cutoff"><a name="DayintheLife" id="DayintheLife"></a></span><br />
		Most engineers work in office buildings, laboratories, or industrial plants. 
		Others may spend time outdoors at construction sites and oil and gas exploration 
		and production sites, where they monitor or direct operations or solve onsite 
		problems. Some engineers travel extensively to plants or worksites.<br />
		<br />
		<img align="right" src="{php}echo base_url(){/php}images/branches/chemical1.jpg" alt="Chemical Engineering" /> Many engineers work a standard 40-hour week. At times, deadlines or design 
		standards may bring extra pressure to a job, requiring engineers to work longer 
		hours.<br />
		Although your career will evolve over the years, the first choices you make 
		are significant. It's difficult to approach decisions about your future without 
		adequate information. All chemical engineers do not wear hard hats, nor do they 
		work solely in chemical plants. Spend some time exploring the many possibilities 
		available to chemical engineers.<br />
		<br />
		Although the specific responsibilities of chemical engineers vary among 
		industries -- and even within companies -- it's possible to categorize them in 
		general terms. Titles such as &quot;Process Engineer&quot; and &quot;Design 
		Engineer&quot; describe positions in most industries, whatever type of work, process, 
	  equipment, or product is involved. </p>
	<div align="right">[ <a href="javascript:scroll(0,0)">Top</a> ]</div>
	<p>Typical functions include:<span class="cutoff"><a name="Teams" id="Teams"></a></span><br />
	  </p>
	<p><span class="grey-context">Patent Lawyers</span><br />
		Specializes in intellectual property law, patent law, technology transfer, 
		environmental compliance, and safety issues. Patent lawyers obtain patents for 
		clients and monitor the marketplace for possible patent infringements.<br />
		<br />
		<span class="grey-context">Biomedical Specialist</span><br />
		Works alongside physicians to develop systems that track critical chemical 
		processes in the body. Biomedical specialists may be involved in the design of 
		artificial organs, such as hearts and lungs.<br />
		<br />
		<span class="grey-context">Computer Applications and Technology Engineer</span><br />
		Designs instrumentation and programs systems to control certain processes. 
		Automation engineers may develop ways to monitor a series of interactive steps in 
		chemical, petroleum, or biotechnology facilities.<br />
		<br />
		<span class="grey-context">Consultant</span><br />
		Works for many different customers and brings specialized knowledge to 
		individual projects. Consultants in a construction company may work with teams of 
		engineers to design and construct an expansion for a pharmaceutical company. Most 
		consultants have several years of professional experience.<br />
		<br />
		<span class="grey-context">Process Design Engineer</span><br />
		Designs manufacturing facilities and the equipment and materials used inside. 
		Process design engineers work with teams of engineers to develop new or improved 
		processes to meet a company's production needs.<br />
	</p>
	<p><span class="grey-context">Environmental Engineer</span><br />
		Develops techniques to recover usable materials, and reduce waste created 
		during manufacture of a product. Environmental engineers design air pollution 
		control and wastewater treatment systems, waste storage and treatment facilities, and 
		soil and groundwater clean-up systems. They also may be responsible for 
		monitoring all systems in a facility for compliance with environmental regulations.<br />
		<br />
		<span class="grey-context">Technical Manager</span><br />
		Responsible for the engineering staff and programs at a facility. Manages 
		people, research programs, and daily operations of the engineering functions. 
		Technical managers may oversee R&amp;D. With plant managers, they may plan and 
		implement the funding and expansion programs necessary to develop a new product.<br />
		<br />
		<img align="right" src="{php}echo base_url(){/php}images/branches/chemical2.jpg" alt="Chemical Engineering" />
		<span class="grey-context">Business Coordinator</span><br />
		Develops budgets and capital projections for a facility or process. Business 
		coordinators work closely with production and design team members to determine 
		the exact needs of a new process, then plan the capital needs necessary to 
		implement the program.</p>
	<div align="right">[ <a href="javascript:scroll(0,0)">Top</a> ]</div>
	<p><span class="grey-context">Plant Process Engineer</span><br />
		Provides technical support to staff and troubleshoots processes in a 
		production facility to keep a plant running efficiently. Plant process engineers work 
		closely with equipment operators to get feedback on the operations of each process 
		and determine how to avoid shut-downs. They may also be involved with design 
		work for improving methods of production.<br />
		<br />
		<span class="grey-context">Process Safety Engineer</span><br />
		Designs and maintains plants and processes that are safer for workers and 
		communities. Process safety engineers may conduct safety analyses of new and 
		existing equipment, and train employees on how to operate a new piece of equipment 
		safely.<br />
		<br />
		<span class="grey-context">Product Engineer</span><br />
		Follows the production cycle of a particular product to ensure it is meeting 
		specification. Product engineers may work with marketing and R&amp;D to ensure 
		that a product will meet the needs of customers, then see the product through 
		production. They may work on new products or variations of existing products.<br />
		<br />
		<span class="grey-context">Manufacturing Production Engineer</span><br />
		Responsible for the day-to-day operation of a specific manufacturing process. 
		Manufacturing production engineers work directly with operators to ensure that a 
		particular product is made according to specifications.</p>
	<div align="right">[ <a href="javascript:scroll(0,0)">Top</a> ]</div>
	<p><span class="grey-context">			Professor</span><br />
        <img align="right" src="{php}echo base_url(){/php}images/branches/chemical3.jpg" alt="Chemical Engineering" /> Instructs students and conducts research. Professors may teach several 
		classes in chemical engineering, be members of university committees, and conduct 
		research using government, corporate, or private funding.<br />
		<br />
		<span class="grey-context">Project Engineer</span><br />
		Oversees the design and construction of specific processes in a facility. 
		After construction, they may assist in equipment testing, operator training, and 
		plant start-up.<br />
		<br />
		<span class="grey-context">Project Manager</span><br />
		Oversees the overall design and construction of a facility, then manages 
		ongoing operations. Project managers may manage a group of project engineers during 
		the design and construction of a new facility.<br />
		<br />
		<span class="grey-context">Quality Control Engineer</span><br />
		Monitors the manufacture of product to ensure that quality standards are 
		maintained. Quality control engineers may bring samples of a product in from a field 
		test, or from a normal application, and test them to determine how specific 
		properties -- such as strength, color, and weatherability -- change over time.<br />
		<br />
		<span class="grey-context">Regulatory Affairs Engineer </span><br />
		Researches, develops, and monitors policies and procedures to ensure the 
		proper handling of chemicals and chemical components. Chemical engineers in 
		regulatory affairs may be government employees who study the environmental impact of a 
		new chemical, then recommend appropriate guidelines for the chemical's use.</p>
	<div align="right">[ <a href="javascript:scroll(0,0)">Top</a> ]</div>
	<p><span class="grey-context">Research and Development Engineer</span><br />
		Seeks out new and more efficient ways of using and producing existing 
		products. Explores and develops new processes and products and determines their 
		usefulness and applicability. Chemical engineers working in R&amp;D may work with 
		chemists and other engineers to develop a new process or new product that will better 
		meet customer needs.<br />
		<br />
		<span class="grey-context">Sales and Marketing Engineer</span><br />
		Assists customers in solving production and process problems by providing 
		products and services to meet their specific needs. Chemical engineers in sales use 
		their technical knowledge to sell chemicals, equipment, and other products, and 
		provide follow-up services and training, where needed.<br />
		<br />
		<span class="grey-context">Technical Services Engineer</span><br />
		Works with customers, usually on-site, to solve production problems caused by 
		a process or machine. Chemical engineers working in technical services may 
		represent the manufacturer of a machine to determine why it is not performing as 
		designed. They often must understand the other steps in the production process to 
		determine if there is a breakdown in another area.<br />
		<br />
		<img align="right" src="{php}echo base_url(){/php}images/branches/chemical4.jpg" alt="Chemical Engineering" />
		<span class="cut-off">Alternatives</span><br />
		Because of their training and skills, chemical engineers make strong 
		candidates for jobs not traditionally associated with chemical engineering: sales, 
		technical writing, law, insurance, real estate, publishing, finance, technical 
		services, and government.&nbsp; Even within the &quot;typical&quot; industries, many 
		engineers are surprised (and often pleased) to learn that their responsibilities 
		regularly include management, marketing, packaging, distribution, strategic 
		planning, training, and computer programming.</p>
	<div align="right">[ <a href="javascript:scroll(0,0)">Top</a> ]</div>
	<p> <span class="cut-off">Employment</span><span class="cutoff"><span class="cut-off"><a name="Employment" id="Employment"></a></span></span><br />
		Employment opportunities exist in many places because virtually all products 
		require input from chemical engineers. They troubleshoot processes in chemical 
		factories, write software, manage productio, analyze financial markets in Mumbai, 
		write documentation, teach, and litigate patents.<br />
		<br />
		<span class="cut-off">Transitions</span><br />
		After graduation, starting a new job may involve moving to a new city or 
		geographic location. Before accepting an offer, look at the personal and financial 
		aspects involved. Consider the distance from your family and friends, and access 
		to interesting recreational activities, in addition to the social, demographic, 
		and economic profile of the new area. Factors like the cost of living, tax 
		rates, the housing market, and climate are also important to consider. Enjoying where 
		you live can make a good job even better. </p>
	<div align="right">[ <a href="javascript:scroll(0,0)">Top</a> ]</div>
	<p> <span class="cut-off">Industries</span><span class="cutoff"><a name="TheWorkplace" id="TheWorkplace"></a></span><br />
		A variety of industries employ chemical engineers, representing a diverse 
		range of products, employers, and services.&nbsp; <br />
		Chemical Process Industries<br />
		The focus of companies in this industry is on the development, extraction, 
		isolation, combination, and use of chemicals and chemical by-products. Chemical 
		engineers design and operate processes and systems to combine, transport, 
		separate, handle, recycle, and store them. This industry consists of several specialty 
		areas:</p>
	<ul type="disc">
		<li>Agricultural Chemicals</li>
		<li>Catalysts</li>
		<li>Specialty Chemicals</li>
		<li>Industrial Gases</li>
		<li>Paints, Varnishes, Lacquers, Pigments, and Inks</li>
		<li>Petrochemicals</li>
		<li>Petroleum Products</li>
		<li>Plastics, Synthetic Resins, and Composites</li>
		<li>Polymers</li>
		<li>Pulp and Paper</li>
		<li>Rubber and Rubber Products</li>
		<li>Soaps, Detergents, Perfumes, Fats, Oils, and Cosmetics</li>
		<li>Synthetic Fibers, Textiles, and Films</li>
	</ul>
	<img align="right" src="{php}echo base_url(){/php}images/branches/chemical5.jpg" alt="Chemical Engineering" />
	<p><span class="grey-context">Biotechnology</span><br />
		This area uses living cells, materials produced by cells, and biological 
		techniques developed through research to create products for use in other 
		industries. This field has produced antibiotics, insulin, interferon, artificial organs, 
		recombinant DNA, techniques for waste reduction and recycling, and hybrid plants 
		that are insect resistant. Chemical engineers develop and design the processes 
		to grow, handle, and harvest living organisms and their by-products. </p>
	<p> <span class="grey-context">Design and Construction</span><br />
		This field works with other industry sectors to design and build facilities, 
		specify machinery, and design and troubleshoot processes that allow companies to 
		operate safe and efficient plants. Chemical engineers are involved with process 
		design and project management and work closely with other engineering 
		disciplines. </p>
	<p> <span class="grey-context">Electronics</span><br />
		Chemical engineers in the electronics industry are involved with material 
		development and production, process control equipment design, and the manufacturing 
		of microchips and intricate circuitry. Chemical engineers have contributed to 
		the industry by producing components that better dissipate heat and operate 
		faster. </p>
	<p> <span class="grey-context">Environmental Safety &amp; Health</span><br />
		Every process involving use and manipulation of raw materials produces some 
		by-products. Chemical engineers minimize the production of by-products (or find 
		an appropriate use for them) through process monitoring and control, as well as 
		by designing more efficient processes. Chemical engineers are involved in waste 
		treatment and disposal and process safety and loss prevention. </p>
	<div align="right">[ <a href="javascript:scroll(0,0)">Top</a> ]</div>
	<p> <span class="grey-context">Food and Beverages</span><br />
		This industry includes the handling, processing, preparing, packaging, and 
		preserving of food and beverages. Chemical engineers formulate new products to 
		meet consumer demand, change ingredients to improve flavor, adapt handling 
		processes to ensure more consistent texture, and freeze-dry products or design aseptic 
		packaging to enable a longer shelf life.</p>
	<p><span class="grey-context">Fuels</span><br />
		This industry comprises petroleum and petroleum products production and 
		refining, as well as nuclear and synthetic fuels. Typically known for their work in 
		refineries, chemical engineers are also involved in developing alternative energy 
		sources, working on production processes, environmental monitoring, research and 
		development, and process safety. </p>
	<p> <span class="grey-context">Advanced Materials</span><br />
		Several industries (most notably aerospace, automotive, glass, ceramics, 
		electronics, refractories, metals, metallurgical products, minerals processing, and 
		photographic products) employ chemical engineers to help develop materials. 
		Chemical engineers manipulate the weight, strength, heat transfer, reflectivity, and 
		purity of substances to produce materials with unique properties. </p>
	<div align="right">[ <a href="javascript:scroll(0,0)">Top</a> ]</div>
	<p> <span class="cut-off">Professional Development</span><span class="cutoff"><a name="JobDuties" id="JobDuties"></a></span><br />
		Learning is a life-long endeavor. Advances in technology are constantly 
		changing chemical engineers' tools -- it's been estimated that the half-life of an 
		engineer's technical skills ranges from three to seven years. Actively pursuing 
		professional development opportunities in and out of the work environment can 
		expand your abilities and career options.<br />
		<br />
		<span class="cut-off">Advancement</span><br />
		You, not your company, are responsible for maximizing your career advancement 
		opportunities. Take advantage of on-the-job or cross-department training 
		programs, participate in a mentor program, and get involved with special projects and 
		task force activities. Volunteer with a local organization or school, read 
		industry and professional publications, and participate in professional associations. 
		Always keep current on the job market and trends.<br />
		<br />
		<span class="cut-off">Success</span><br />
		Defining success and happiness is best left to you. Starting early to 
		determine what is important, however, will enable you to put yourself into a successful 
		position. What you do, where you live, who you work with, your work environment, 
		how much money you make, possibilities to advance, opportunities to travel -- 
		these are issues to consider seriously. Be honest with yourself, then work toward 
		putting yourself in a successful situation.<br />
		<br />
		<span class="cut-off">Technology</span><br />
		<img align="right" src="{php}echo base_url(){/php}images/branches/chemical6.jpg" alt="Chemical Engineering" />
		There is an increased reliance on technology in the workplace. Gaining as 
		much experience as possible with the latest equipment and practices will help you 
		stand out while job hunting. Some of the more common technologies used in the 
		workplace:</p>
	<ul type="disc">
		<li>Spreadsheets</li>
		<li>Word Processing</li>
		<li>Simulation Software</li>
		<li>Communications (e-mail, intranet)</li>
		<li>Drafting Software (CAD)</li>
		<li>Process monitoring software</li>
	</ul>
	<div align="right">[ <a href="javascript:scroll(0,0)">Top</a> ]</div>
	<p><span class="cut-off">Career Path Forecast</span><span class="cut-off"><span class="cutoff"><a name="CareerPathForecast" id="CareerPathForecast"></a></span></span><br />
		This is about as fast as the average for all occupations as  chemical 
		companies will continue to research and develop new chemicals and more efficient 
		processes to increase output of existing chemicals.<br />
		Among manufacturing industries, pharmaceuticals may provide the best 
		opportunities for jobseekers. However, most employment growth for chemical engineers 
		will be in service-providing industries such as professional, scientific, and 
		technical services, particularly for research in energy and the developing fields of 
		biotechnology and nanotechnology.&nbsp; </p>
    <div align="right">[ <a href="javascript:scroll(0,0)">Top</a> ]</div>
</div></div></div>
