<div id="center" class="floatr">
	<div id="v-thin-line">
		<h1>Chemical Engineering</h1>
		
        <p>It would take too long to list all the products that are impacted by chemical engineers, but knowing what industries employ 
          them may help you comprehend the scope of their work. Chemical engineers work in manufacturing, pharmaceuticals, healthcare,
          design and construction, pulp and paper, petrochemicals, food processing, specialty chemicals, polymers, biotechnology, and
          environmental health and safety industries, among others.  Within these industries, chemical engineers rely on their
          knowledge of mathematics and science, particularly chemistry, to overcome technical problems safely and economically.          </p>
        <p>And, of course, they draw upon and apply their engineering knowledge to solve any technical challenges they encounter. 
          Don't make the mistake of thinking that chemical engineers only make things, though. Their expertise is also applied in the 
          area of law, education, publishing, finance, and medicine, as well as many other fields that require technical training.          </p>
        <p>Specifically, chemical engineers improve food processing techniques, and methods of producing fertilizers, to increase the 
          quantity and quality of available food. They also construct the synthetic fibers that make our clothes more comfortable 
          and water resistant; they develop methods to mass-produce drugs, making them more affordable; and they create safer, more
          efficient methods of refining petroleum products, making energy and chemical sources more productive and cost effective. 
          They also develop solutions to environmental problems, such as pollution control and remediation. And yes, they process 
          chemicals, which are used to make or improve just about everything you see around you.          </p>
        <p>Chemical engineers face many of the same challenges that other professionals face, and they meet these challenges by 
          applying their technical knowledge, communication and teamwork skills, the most up-to-date practices available, and hard work.
          Benefits include financial reward, recognition within industry and society, and the gratification that comes from working 
          with the processes of nature to meet the needs of society.          </p>
        <p>Day in the Life</p>
        <p> Most engineers work in office buildings, laboratories, or industrial plants. Others may spend time outdoors at construction
          sites and oil and gas exploration and production sites, where they monitor or direct operations or solve onsite problems.
          Some engineers travel extensively to plants or worksites. </p>
        <p>Many engineers work a standard 40-hour week. At times, deadlines or design standards may bring extra pressure to a job, 
          requiring engineers to work longer hours.
          Although your career will evolve over the years, the first choices you make are significant. It's difficult to approach 
          decisions about your future without adequate information. All chemical engineers do not wear hard hats, nor do they work 
          solely in chemical plants. Spend some time exploring the many possibilities available to chemical engineers.          </p>
        <p>Although the specific responsibilities of chemical engineers vary among industries -- and even within companies -- it's 
          possible to categorize them in general terms. Titles such as "Process Engineer" and "Design Engineer" describe positions
          in most industries, whatever type of work, process, equipment, or product is involved. Typical functions include:          </p>
    <p class="cut-off">Attorney </p>   
    
    <p> Specializes in intellectual property law, patent law, technology transfer, environmental compliance, and safety issues.
          Patent attorneys obtain patents for clients and monitor the marketplace for possible patent infringements.</p>
    <p> Biomedical Specialist</p>
    <p> Works alongside physicians to develop systems that track critical chemical processes in the body. Biomedical specialists
          may be involved in the design of artificial organs, such as hearts and lungs.          </p>
    <p>Computer Applications and Technology Engineer</p>
    <p> Designs instrumentation and programs systems to control certain processes. Automation engineers may develop ways to monitor
          a series of interactive steps in chemical, petroleum, or biotechnology facilities.</p>
    <p>Consultant</p>
    <p>Works for many different customers and brings specialized knowledge to individual projects. Consultants in a construction 
          company may work with teams of engineers to design and construct an expansion for a pharmaceutical company. Most consultants
          have several years of professional experience.</p>
    <p>Process Design Engineer</p>
    <p>Designs manufacturing facilities and the equipment and materials used inside. Process design engineers work with teams of 
          engineers to develop new or improved processes to meet a company's production needs.</p>
    <p>Environmental Engineer</p>
    <p>Develops techniques to recover usable materials, and reduce waste created during manufacture of a product. Environmental 
          engineers design air pollution control and wastewater treatment systems, waste storage and treatment facilities, and soil 
          and groundwater clean-up systems. They also may be responsible for monitoring all systems in a facility for compliance with
          environmental regulations.</p>
    <p>Technical Manager</p>
    <p>Responsible for the engineering staff and programs at a facility. Manages people, research programs, and daily operations 
          of the engineering functions. Technical managers may oversee R&D. With plant managers, they may plan and implement the 
          funding and expansion programs necessary to develop a new product.</p>
    <p> Business Coordinator          </p>
    <p>Develops budgets and capital projections for a facility or process. Business coordinators work closely with production and 
          design team members to determine the exact needs of a new process, then plan the capital needs necessary to implement the
          program.</p>
    <p>Plant Process Engineer</p>
    <p>Provides technical support to staff and troubleshoots processes in a production facility to keep a plant running 
          efficiently. Plant process engineers work closely with equipment operators to get feedback on the operations of each process 
          and determine how to avoid shut-downs. They may also be involved with design work for improving methods of production.          </p>
    <p>Process Safety Engineer</p>
    <p>Designs and maintains plants and processes that are safer for workers and communities. Process safety engineers may conduct 
          safety analyses of new and existing equipment, and train employees on how to operate a new piece of equipment safely.          </p>
    <p>Product Engineer</p>
    <p>Follows the production cycle of a particular product to ensure it is meeting specification. Product engineers may work with 
          marketing and R&D to ensure that a product will meet the needs of customers, then see the product through production. They 
          may work on new products or variations of existing products.          </p>
    <p>Manufacturing Production Engineer</p>
    <p>Responsible for the day-to-day operation of a specific manufacturing process. Manufacturing production engineers work 
          directly with operators to ensure that a particular product is made according to specifications.          </p>
    <p>Professor</p>
    <p> Instructs students and conducts research. Professors may teach several classes in chemical engineering, be members of 
          university committees, and conduct research using government, corporate, or private funding.</p>
    <p>Project Engineer</p>
    <p>Oversees the design and construction of specific processes in a facility. After construction, they may assist in equipment 
          testing, operator training, and plant start-up.          </p>
    <p>Project Manager</p>
    <p> Oversees the overall design and construction of a facility, then manages ongoing operations. Project managers may manage a 
          group of project engineers during the design and construction of a new facility.</p>
    <p>Quality Control Engineer          </p>
    <p>Monitors the manufacture of product to ensure that quality standards are maintained. Quality control engineers may bring 
          samples of a product in from a field test, or from a normal application, and test them to determine how specific properties
          -- such as strength, color, and weatherability -- change over time.</p>
    <p> Regulatory Affairs Engineer          </p>
    <p>Researches, develops, and monitors policies and procedures to ensure the proper handling of chemicals and chemical 
          components. Chemical engineers in regulatory affairs may be government employees who study the environmental impact of a new 
          chemical, then recommend appropriate guidelines for the chemical's use.</p>
    <p>Research and Development Engineer</p>
    <p> Seeks out new and more efficient ways of using and producing existing products. Explores and develops new processes and 
          products and determines their usefulness and applicability. Chemical engineers working in R&D may work with chemists and
          other engineers to develop a new process or new product that will better meet customer needs.          </p>
    <p>Sales and Marketing Engineer</p>
    <p>Assists customers in solving production and process problems by providing products and services to meet their specific 
      needs. Chemical engineers in sales use their technical knowledge to sell chemicals, equipment, and other products, and 
          provide follow-up services and training, where needed.</p>
    <p>Technical Services Engineer</p>
    <p>Works with customers, usually on-site, to solve production problems caused by a process or machine. Chemical engineers 
          working in technical services may represent the manufacturer of a machine to determine why it is not performing as designed.
          They often must understand the other steps in the production process to determine if there is a breakdown in another area.          </p>
    <p>Alternatives</p>
    <p>Because of their training and skills, chemical engineers make strong candidates for jobs not traditionally associated 
          with chemical engineering: sales, technical writing, law, insurance, real estate, publishing, finance, technical services,
          and government.  Even within the "typical" industries, many engineers are surprised (and often pleased) to learn that 
          their responsibilities regularly include management, marketing, packaging, distribution, strategic planning, training, 
          and computer programming.</p>
     <p class="cut-off">Employment</p>
    <p>Chemical engineers hold about 30,000 jobs in the United States. This represents 2% of the 1.5 million jobs held by engineers
          in the U.S. Employment opportunities exist in many places because virtually all products require input from chemical 
          engineers. They troubleshoot processes in Texas, write software in California, design cars in Michigan, manage production 
          in New Jersey, analyze financial markets in New York, write documentation in Tennessee, teach in Kansas, and litigate patents in Washington, D.C. A PDF of sample employers is available online.</p>
    <p>International Experience</p>
    <p>While most U.S. chemical engineering students are employed in the U.S. following graduation, taking advantage of overseas 
          study and employment could enhance your career. Foreign work assignments offer the most practical way to gain international
          experience, although exchange and study abroad programs do exist for chemical engineering students. There are things to 
          consider before you decide to study or work abroad.          </p>
    <p>Transitions</p>
    <p> After graduation, starting a new job may involve moving to a new city or geographic location. Before accepting an offer, 
          look at the personal and financial aspects involved. Consider the distance from your family and friends, and access to 
          interesting recreational activities, in addition to the social, demographic, and economic profile of the new area. Factors like the cost of living, tax rates, the housing market, and climate are also important to consider. Enjoying where you live can make a good job even better.</p>
    <p>Distribution</p>
    <p>Some areas of the country have higher concentrations of chemical engineering employees than others, as evidenced by 
          the following breakout of AIChE membership in the United States.  </p>
    <ul>
      <li>	Northeast - 25%</li>
      <li> Mid-West - 21%</li>
      <li>Southwest - 19%        </li>
      <li>Southeast - 12%</li>
      <li>West - 11%</li>
      <li>Mid-Atlantic - 7%
        "	Plains - 3%</li>
      <li>Mountain - 2%        </li>
      </ul>
    <p>Industries      </p>
    <p>A variety of industries employ chemical engineers, representing a diverse range of products, employers, and services.      </p>
    <p>Chemical Process Industries      </p>
    <p>The focus of companies in this industry is on the development, extraction, isolation, combination, and use of chemicals and chemical by-products. Chemical engineers design and operate processes and systems to combine, transport, separate, handle, recycle, and store them. This industry consists of several specialty areas:</p>
    <ul>
      <li> 	Agricultural Chemicals</li>
      <li>Catalysts</li>
      <li>Specialty Chemicals</li>
      <li>	Industrial Gases</li>
      <li>Paints, Varnishes, Lacquers, Pigments, and Inks</li>
      <li>Petrochemicals</li>
      <li>Petroleum Products</li>
      <li>Plastics, Synthetic Resins, and Composites</li>
      <li>Polymers
        "	Pulp and Paper</li>
      <li>Rubber and Rubber Products</li>
      <li>Soaps, Detergents, Perfumes, Fats, Oils, and Cosmetics</li>
      <li>Synthetic Fibers, Textiles, and Films        </li>
      </ul>
    <p><strong>Additional  Resources:</strong></p>
    <ul type="disc">
      <li><strong><a href="http://www.socma.com">Synthetic Organic Chemical Manufacturers       Association</a></strong></li>
      <li><strong><a href="http://www.npradc.org">Natural Petroleum Refiners Association</a></strong></li>
      <li><strong><a href="http://www.aiche.org">American Institute of Chemical Engineers</a></strong></li>
      <li><strong><a href="http://www.acs.org">American Chemical Society</a></strong></li>
      <li><strong><a href="http://www.aocs.org">American Oil Chemists' Society</a></strong></li>
      <li><strong><a href="http://www.tappi.org">Technical Association of the Pulp and Paper       Industry</a></strong></li>
      <li><strong><a href="http://www.theaic.org/">American Institute of Chemists</a></strong></li>
    </ul>
    <p>Biotechnology
        This area uses living cells, materials produced by cells, and biological techniques developed through research to create products for use in other industries. This field has produced antibiotics, insulin, interferon, artificial organs, recombinant DNA, techniques for waste reduction and recycling, and hybrid plants that are insect resistant. Chemical engineers develop and design the processes to grow, handle, and harvest living organisms and their by-products. Additional Resources:
      "	American Association of Pharmaceutical Scientists
      "	American Pharmacists Association
        Design and Construction
        This field works with other industry sectors to design and build facilities, specify machinery, and design and troubleshoot processes that allow companies to operate safe and efficient plants. Chemical engineers are involved with process design and project management and work closely with other engineering disciplines. Additional Resources:
        o American Council of Engineering Companies
        Electronics
        Chemical engineers in the electronics industry are involved with material development and production, process control equipment design, and the manufacturing of microchips and intricate circuitry. Chemical engineers have contributed to the industry by producing components that better dissipate heat and operate faster. Additional Resources:
      "	Women in Technology International
      "	The Institute of Electrical and Electronics Engineers, Inc.
      "	The Electrochemical Society
        Environmental Safety & Health
        Every process involving use and manipulation of raw materials produces some by-products. Chemical engineers minimize the production of by-products (or find an appropriate use for them) through process monitoring and control, as well as by designing more efficient processes. Chemical engineers are involved in waste treatment and disposal and process safety and loss prevention. Additional Resources:
      "	National Association of Environmental Professionals
      "	Environmental Careers Organization
      "	Society of Environmental Toxicology and Chemistry
      "	Air and Waste Management Association
      "	AIChE - Environmental Division
      "	AIChE - Safety and Health Division
      "	Water Environment Federation
      "	National Groundwater Association
        Food and Beverages
        This industry includes the handling, processing, preparing, packaging, and preserving of food and beverages. Chemical engineers formulate new products to meet consumer demand, change ingredients to improve flavor, adapt handling processes to ensure more consistent texture, and freeze-dry products or design aseptic packaging to enable a longer shelf life. Additional Resources:
      "	Institute of Food Technologists
      "	American Association of Cereal Chemists
        Fuels
        This industry comprises petroleum and petroleum products production and refining, as well as nuclear and synthetic fuels. Typically known for their work in refineries, chemical engineers are also involved in developing alternative energy sources, working on production processes, environmental monitoring, research and development, and process safety. Additional Resources:
      "	Association of Energy Engineers
      "	American Nuclear Society
      "	Association of Exploration Geochemists
      "	American Association of Petroleum Geologists
      "	American Petroleum Institute
      "	American Association of Blacks in Energy
        Advanced Materials
        Several industries (most notably aerospace, automotive, glass, ceramics, electronics, refractories, metals, metallurgical products, minerals processing, and photographic products) employ chemical engineers to help develop materials. Chemical engineers manipulate the weight, strength, heat transfer, reflectivity, and purity of substances to produce materials with unique properties. Additional Resources:
      "	American Institute of Aeronautics and Astronautics
      "	Materials Research Society
      "	The Minerals, Metals & Materials Society
      "	Society for Mining, Metallurgy and Exploration, Inc.
        Professional Development
        Learning is a life-long endeavor. Advances in technology are constantly changing chemical engineers' tools -- it's been estimated that the half-life of an engineer's technical skills ranges from three to seven years. Actively pursuing professional development opportunities in and out of the work environment can expand your abilities and career options.
        
        Advancement
        You, not your company, are responsible for maximizing your career advancement opportunities. Take advantage of on-the-job or cross-department training programs, participate in a mentor program, and get involved with special projects and task force activities. Volunteer with a local organization or school, read industry and professional publications, and participate in professional associations. Always keep current on the job market and trends.
        
        Mentors
        One of the most effective ways to learn about a profession is to speak with someone already working in your field of interest. This might include a chemical engineering faculty member, a family friend or family member who is employed as a chemical engineer, a chemical engineer employed by a local company, alumni of your college or university, or a contact made through a professional society, such as AIChE. Finding a mentor to talk with, ask questions of, and network through, can be effectively done as early as high school. A mentor could:
      "	tell you about his/her job responsibilities
      "	answer questions about his/her work or industry
      "	help you find a summer internship or job opening
      "	provide input on your projects
      "	give you exposure to the workplace
      "	introduce you to other professionals in the field
      "	make you aware of resources you may not have access to at school
      "	guide you in developing skills and qualities that employees seek
        Networking
        Networking is the single best way to find a job and is a valuable professional development tool. Networking is a two-way street that can put you in touch with possible mentors, employers, summer internship providers, graduate school professors, and peer professionals; but you must also be ready, and actively look, to return the favor. Networking is communicating with the purpose of achieving a career-related goal. It is not asking for a job. It is asking for advice and suggestions on areas that may include employment opportunities. Look out for possible contacts and remember to reciprocate when the time comes.
        
        Licensing
        A professional engineer's license is required of all engineering-related expert witnesses in legal proceedings, faculty members at some state universities, for advancement to senior engineering positions by some government agencies and industry employers, and consultants in private practice. It can also add credibility to a manufacturer's work. Becoming registered as a professional engineer has advantages, but the process requires additional tests and takes at least four years. You should understand the benefits of licensure, and should you decide it is important, begin working toward it as soon as possible. The Principles and Practice of Engineering exam can be taken after four years of experience. The exam tests the engineer's ability to apply his or her education and experience to the solution of engineering problems.
        
        Success
        Defining success and happiness is best left to you. Starting early to determine what is important, however, will enable you to put yourself into a successful position. What you do, where you live, who you work with, your work environment, how much money you make, possibilities to advance, opportunities to travel -- these are issues to consider seriously. Be honest with yourself, then work toward putting yourself in a successful situation.
        
        Technology
        There is an increased reliance on technology in the workplace. Gaining as much experience as possible with the latest equipment and practices will help you stand out while job hunting. Some of the more common technologies used in the workplace:
      "	Spreadsheets
      "	Word Processing
      "	Simulation Software
      "	Communications (e-mail, intranet)
      "	Drafting Software (CAD)
      "	Process monitoring software
        Career Path Forecast
        According to the U.S. Department of Labor, Bureau of Labor Statistics, chemical engineers are expected to have employment growth of 8 percent over the projections decade of 2006-2016.  This is about as fast as the average for all occupations. Although overall employment in the chemical manufacturing industry is expected to decline, chemical companies will continue to research and develop new chemicals and more efficient processes to increase output of existing chemicals.
        Among manufacturing industries, pharmaceuticals may provide the best opportunities for jobseekers. However, most employment growth for chemical engineers will be in service-providing industries such as professional, scientific, and technical services, particularly for research in energy and the developing fields of biotechnology and nanotechnology.  
        Professional Organizations
        Professional organizations and associations provide a wide range of resources for planning and navigating a career in chemical engineering. These groups can play a key role in your development and keep you abreast of what is happening in your industry. Associations promote the interests of their members and provide a network of contacts that can help you find jobs and move your career forward. They can offer a variety of services including job referral services, continuing education courses, insurance, travel benefits, periodicals, and meeting and conference opportunities. The following is a partial list of professional associations serving chemical engineers and employers.  A broader list of professional associations is also available by clicking here. </p>
	</div>
</div>
