<div id="center" class="floatr">
	<div id="v-thin-line">
		<h1>Computer Science</h1><br/>
		<div class="medium-text">
			<p>The rapid and widespread use of computers and information technology has 
				generated a need for highly trained workers proficient in various job functions. These 
				computer specialists include computer scientists, database administrators, and 
				network systems and data communication analysts. Job tasks and occupational 
				titles used to describe these workers evolve rapidly and continually, reflecting new 
				areas of specialization or changes in technology, as well as the preferences and 
				practices of employers.</p><br/>
			<p>Computer scientists work as theorists, researchers, or inventors. Their jobs are 
				distinguished by the higher level of theoretical expertise and innovation they 
				apply to complex problems and the creation or application of new technology. The 
				areas of computer science research range from complex theory to hardware design 
				to programming-language design. Some researchers work on multidisciplinary 
				projects, such as developing and advancing uses of virtual reality, extending 
				human-computer interaction, or designing robots. They may work on design teams with 
				electrical engineers and other specialists.</p><br/>
			<img align="right" src="{php}echo base_url(){/php}images/branches/computerscience1.jpg" alt="Computer Science" />
				<p>Computer science researchers employed by academic institutions have job 
				functions that are similar in many ways to those employed by other organizations. In 
				general, researchers in academic settings have more flexibility to focus on pure 
				theory, while those working in other organizations usually focus on projects that 
				have the possibility of producing patents and profits. However, some researchers 
				in non-academic settings have considerable latitude in determining the direction 
				of their research. </p><br/>
			<p>With the Internet and electronic business generating large volumes of data, 
				there is a growing need to be able to store, manage, and extract data effectively. 
				Database administrators work with database management systems software and 
				determine ways to organize and store data. They identify user needs and set up new 
				computer databases. In many cases, database administrators must integrate data from 
				outdated systems into a new system. They also test and coordinate modifications 
				to the system when needed, and troubleshoot problems when they occur. An 
				organization's database administrator ensures the performance of the system, 
				understands the platform on which the database runs, and adds new users to the system. 
				Because many databases are connected to the Internet, database administrators also 
				must plan and coordinate security measures with network administrators. With the 
				growing volume of sensitive data and the increasing interconnectedness of 
				computer networks, data integrity, backup systems, and database security have become 
				increasingly important aspects of the job of database administrators.</p><br/>
			<p>Network systems and data communications analysts, also referred to as network 
				architects, design, test, and evaluate systems such as local area networks (LANs), 
				wide area networks (WANs), the Internet, intranets, and other data 
				communications systems. Systems are configured in many ways and can range from a connection 
				between two offices in the same building to globally distributed networks, voice 
				mail, and e-mail systems of a multinational organization. Network systems and 
				data communications analysts perform network modeling, analysis, and planning, 
				often requiring both hardware and software solutions. For example, a network may 
				involve the installation of several pieces of hardware, such as routers and hubs, 
				wireless adaptors, and cables, while also requiring the installation and 
				configuration of software, such as network drivers. Analysts also may research related 
				products and make necessary hardware and software recommendations.</p><br/>
			<img align="right" src="{php}echo base_url(){/php}images/branches/computerscience2.jpg" alt="Computer Science" />
				<p class="cut-off">Specialty Areas</p><br/>
			<p> Algorithms and Theory - Artificial Intelligence - Architecture, Parallel 
				Computing and Systems - Bioinformatics and Computational Biology - Database and 
				Information Systems - Graphics, Visualization and Human-Computer Interface - Systems 
				and Networking - Programming Languages, Formal Systems, and Software Engineering 
				- Scientific Computing</p><br/>
			<p class="grey-context"> Algorithms and Theory</p>
			<p> Research in this area focuses on the design and analysis of algorithms and data 
				structures for problems arising in several areas of computer science, including 
				automatic software verification, computational geometry, data mining, and 
				machine learning.<br />
			</p><br />
			<p class="grey-context">Artificial Intelligence </p>
			<p> This specialty area focuses on a broad range of topics that include knowledge 
				representation, learning, vision, reasoning, robotics, information systems, and 
				planning. Application areas include molecular biology, manufacturing, control 
				theory, and scheduling.<br />
			</p><br />
			<p class="grey-context">Architecture, Parallel Computing and Systems </p>
			<p> Those focusing on the specialty area of architecture develop hardware designs, 
				programming languages, and their compilers for next-generation computers and 
				computing components. The specialty area of parallel computing area focuses on 
				projects of varying size and investigates the software aspects of computation on 
				computers composed of multiple processors.</p><br />
				<img align="right" src="{php}echo base_url(){/php}images/branches/computerscience3.jpg" alt="Computer Science" />
			<p class="grey-context"> Bioinformatics and Computational Biology</p>
			<p> Research in this area includes developing efficient and scalable algorithms for 
				biomolecular simulation and applying data mining, statistical machine learning, 
				natural language processing, and information retrieval to analyze and mine all 
				kinds of biological data, including DNA sequences, protein sequences and 
				structures, microarray data, and biology literature, for the purpose of facilitating 
				biology discovery.</p><br />
			<p  class="grey-context"> Database and Information Systems </p>
			<p> Individuals working in this area would conduct fundamental and cutting-edge 
				research in databases, data mining, web mining, information retrieval, and natural 
				language processing. Current areas of focus might include data integration, 
				exploring and integrating the &quot;Deep Web;&quot; schema matching; security; 
				mining data streams and sequential and semi-structured data; operating systems 
				support for storage systems; text retrieval and mining; bio-informatics; database 
				support for high performance computing; and top-k query processing.</p><br />
			<p  class="grey-context"> Graphics, Visualization and the Human Computer Interface</p>
			<p> Graphics and visualization research includes modeling and animation of natural 
				phenomena, computational topology, graphics hardware utilization, image based 
				rendering, implicit surfaces, mesh processing and simplification, procedural 
				modeling and texturing, shape modeling, surface parameterization, and visibility 
				processing. Human-Computer Interface research involves user interface tools that 
				better support early design tasks, systems and environments that help users 
				maintain information awareness, tools for multimedia authoring and design, interfaces 
				that foster social interaction, and, more generally, human-computer interaction.</p><br />
			<p  class="grey-context"> Systems and Networking </p>
			<p> Networking and distributed systems group research includes a broad range of 
				topics that include mobile systems, wireless protocols, ad-hoc networks, Quality of 
				Service management, multimedia networking, peer-to-peer networking, routing, 
				network simulations, active queue management, and sensor networks.</p><br />
			<p >Operating system research focuses on distributed resource management, management 
				of ubiquitous computing environments, reflective middleware, middleware 
				&quot;meta-operating systems,&quot; object-oriented operating system design, user 
				interfaces that allow single users to interact with multi-computers, peer-to-peer 
				operating system services, and context-sensitive distributed file systems, power 
				management for data centers, file/storage systems, autonomic computing, system 
				support for software robustness, and system support for databases.</p><br />
			<p>Security research includes dynamic security architectures; security for active 
				networks; privacy, authentication, authorization, access control, and trust in 
				ubiquitous computing environments that have mobile users; authentication in sensor 
				networks; specification and validation of security access control policies; 
				simulation of network security problems and solutions including denial of service; 
				and next generation phone security.</p><br />
				<img align="right" src="{php}echo base_url(){/php}images/branches/computerscience4.jpg" alt="Computer Science" />
			<p>Real-time and embedded systems research areas include open real-time systems QoS 
				driven real-time scheduling and communication protocols, integrated design of 
				controllers and real-time schedulers, the integration between real-time, fault 
				tolerant and security protocols, and robust dynamic real-time architecture for 
				networked devices and smart spaces.</p><br />
			<p class="grey-context"> Programming Languages, Formal Systems, 
				and Software Engineering</p>
			<p> Those working in this specialty area study the design and implementation of 
				computer languages, with the goal of improving both programmer productivity and 
				program quality. The topics of study range from abstract theories of computer 
				languages to practical questions about the use and implementation of high-level 
				languages. </p><br />
			<p class="grey-context"> Scientific Computing</p>
			<p> Individuals working in the specialty area of scientific computing conduct 
				research on the development and analysis of numerical techniques for approximating 
				mathematical models of physical systems and on algorithms for solving the 
				resulting equations on high performance computer systems. Specific scientific and 
				engineering applications considered include biological molecular dynamics, materials 
				science, semiconductor simulation, astrophysics, and the design of solid 
				propellant rockets. </p><br/>
			<p class="cut-off"> Day in the Life</p>
			<p> The rapid spread of computers and information technology has generated a need 
				for highly trained workers to design and develop new hardware and software 
				systems and to incorporate new technologies. Job tasks and occupational titles used to 
				describe these workers evolve rapidly, reflecting new areas of specialization or 
				changes in technology, as well as the preferences and practices of employers. </p><br/>
			<p class="cut-off"> Job Duties</p>
			<p> Computer scientists must be able to think logically and have good communication 
				skills. Because they often deal with a number of tasks simultaneously, the 
				ability to concentrate and pay close attention to detail is important. <br />
				Computer scientists employed in private industry may advance into managerial 
				or project leadership positions. Those employed in academic institutions can 
				become heads of research departments or published authorities in their field. 
				Database administrators may advance into managerial positions, such as chief 
				technology officer, on the basis of their experience managing data and enforcing 
				security. Computer specialists with work experience and considerable expertise in a 
				particular subject or a certain application may find lucrative opportunities as 
				independent consultants or may choose to start their own computer consulting firms. </p><br/>
			<img align="right" src="{php}echo base_url(){/php}images/branches/computerscience5.jpg" alt="Computer Science" />
				<p class="cut-off">The Workplace</p>
			<p> Computer scientists normally work in offices or laboratories in comfortable 
				surroundings. They usually work about 40 hours a week -- the same as many other 
				professional or office workers do. However, evening or weekend work may be 
				necessary to meet deadlines or solve specific problems. Given the technology available 
				today, telecommuting is common for computer professionals. As networks expand, 
				more work can be done from remote locations through modems, laptops, electronic 
				mail, and the Internet. </p><br />
			<p>Like other workers who spend long periods in front of a computer terminal typing 
				on a keyboard, computer systems analysts, database administrators, and computer 
				scientists are susceptible to eyestrain, back discomfort, and hand and wrist 
				problems such as carpal tunnel syndrome or cumulative trauma disorder. Through the 
				adoption of good practices and modification of the workplace environment these 
				problems can be mitigated.</p><br/>
			<p class="cut-off"> Teams and Coworkers</p>
			<p> Although computer specialists sometimes work independently, they frequently 
				work in teams on large projects. They must be able to communicate effectively with 
				computer personnel, such as programmers and managers, as well as with users or 
				other staff who may have no technical computer background. </p><br/>
			<p class="cut-off"> Employment</p>
			<p> According to the U.S. Department of Labor, Bureau of Labor Statistics, computer 
				scientists and database administrators hold about 542,000 jobs in the U.S., 
				including about 58,000 who were self-employed. Employment was distributed among the 
				detailed occupations as follows:</p><br />
			<p>Network systems and data communication analysts - 262,000 <br />
				Database administrators - 119,000 <br />
				Computer and information scientists, research - 25,000 <br />
				Computer specialists, all other - 136,000 </p><br />
			<p>Although they are increasingly employed in every sector of the economy, the 
				greatest concentration of these workers is in the computer systems design and 
				related services industry. Firms in this industry provide services related to the 
				commercial use of computers on a contract basis, including custom computer 
				programming services; computer systems integration design services; computer facilities 
				management services, including computer systems or data processing facilities 
				support services for clients; and other computer-related services, such as disaster 
				recovery services and software installation. Many computer scientists and 
				database administrators are employed by Internet service providers; Web search 
				portals; and data processing, hosting, and related services firms. Others work for 
				government, manufacturers of computer and electronic products, insurance companies, 
				financial institutions, and universities.</p><br />
			<p>A growing number of computer specialists, such as network and data 
				communications analysts, are employed on a temporary or contract basis; many of these 
				individuals are self-employed, working independently as contractors or consultants. For 
				example, a company installing a new computer system may need the services of 
				several network systems and data communication analysts just to get the system 
				running. Because not all of the analysts would be needed once the system is 
				functioning, the company might contract for such employees with a temporary help agency 
				or consulting firm, or with the network systems analysts themselves. Such jobs 
				may last from several months to 2 years or more. This growing practice enables 
				companies to bring in people with the exact skills they need to complete a 
				particular project, rather than having to spend time or money training or retraining 
				existing workers. Often, experienced consultants then train a company's in-house 
				staff as a project develops.</p><br/>
		
				<p class="cut-off"> Career Path Forecast</p>
			<p> According to the U.S. Department of Labor, Bureau of Labor Statistics, computer 
				scientists and database administrators are projected to be one of the fastest 
				growing occupations over the next decade. Strong employment growth combined with a 
				limited supply of qualified workers will result in excellent employment 
				prospects for this occupation and a high demand for their skills. </p><br />
			<p>The computer scientists and database administrators occupation is expected to 
				grow 37 percent from 2006 to 2016, much faster than average for all occupations. 
				Employment of these computer specialists is expected to grow as organizations 
				continue to adopt and integrate increasingly sophisticated technologies. Job 
				increases will be driven by very rapid growth in computer systems design and related 
				services, which is projected to be one of the fastest growing industries in the 
				U.S. economy.</p><br />
			<p>The demand for networking to facilitate the sharing of information, the 
				expansion of client-server environments, and the need for computer specialists to use 
				their knowledge and skills in a problem-solving capacity will be major factors in 
				the rising demand for computer scientists and database administrators. Firms 
				will continue to seek out computer specialists who are able to implement the latest 
				technologies and are able to apply them to meet the needs of businesses as they 
				struggle to maintain a competitive advantage.</p><br />
				<img align="right" src="{php}echo base_url(){/php}images/branches/computerscience6.jpg" alt="Computer Science" />
				<p>As computers continue to become more central to business functions, more 
				sophisticated and complex technology is being implemented across all organizations, 
				fueling demand for computer scientists and database administrators. There is 
				growing demand for network systems and data communication analysts to help firms 
				maximize their efficiency with available technology. Expansion of electronic commerce 
				-- doing business on the Internet -- and the continuing need to build and 
				maintain databases that store critical information on customers, inventory, and 
				projects are fueling demand for database administrators familiar with the latest 
				technology. Because of the increasing reliance on the Internet among businesses, 
				information security is an increasing concern.</p><br />
			<p>The development of new technologies leads to demand for various kinds of 
				workers. The expanding integration of Internet technologies into businesses, for 
				example, has resulted in a growing need for specialists who can develop and support 
				Internet and intranet applications. The growth of electronic commerce means that 
				more establishments use the Internet to conduct their business online. It also 
				means more security specialists are needed to protect their systems. The spread of 
				such new technologies translates into a need for information technology 
				professionals who can help organizations use technology to communicate with employees, 
				clients, and consumers. Explosive growth in these areas also is expected to fuel 
				demand for specialists who are knowledgeable about network, data, and 
				communications security.</p><br />
			<p>Computer scientists and database administrators should continue to enjoy 
				excellent job prospects. As technology becomes more sophisticated and complex, however, 
				these positions will demand a higher level of skill and expertise from their 
				employees. Individuals with an advanced degree in computer science or computer 
				engineering or with an MBA with a concentration in information systems should enjoy 
				favorable employment prospects. College graduates with a bachelor's degree in 
				computer science, computer engineering, information science, or MIS also should 
				enjoy favorable prospects, particularly if they have supplemented their formal 
				education with practical experience. Because employers continue to seek computer 
				specialists who can combine strong technical skills with good business skills, 
				individuals with a combination of experience inside and outside the IT arena will 
				have the best job prospects.</p><br />
			<p>In addition to growth, many job openings will arise from the need to replace 
				workers who move into managerial positions or other occupations or who leave the 
				labor force.<br />
			</p>
		</div>
	</div>
</div>
