<div id="center" class="floatr">
	<div id="v-thin-line">
		<h1>Computer Engineering</h1>
		<div class="medium-text">
			<p>Computer engineers analyze, design, and evaluate computer systems, both hardware and software. 
				They might work on system such as a flexible manufacturing system or a 
				&quot;smart&quot; device or instrument. Computer engineers often find themselves focusing 
				on problems or challenges which result in new &quot;state of the art&quot; 
				products, which integrate computer capabilities. <br />
				They work on the design, planning, development, testing, and even the 
				supervision of manufacturing of computer hardware -- including everything from chips to 
				device controllers. They also focus on computer networks for the transmission of 
				data and multimedia.</p>
			<p>They work on the interface between different pieces of hardware and strive to 
				provide new capabilities to existing and new systems or products. The work of a 
				computer engineer is grounded in the hardware -- from circuits to architecture -- 
				but also focuses on operating systems and software. Computer engineers must 
				understand logic design, microprocessor system design, computer architecture, 
				computer interfacing, and continually focus on system requirements and design.</p>
				<img align="right" src="{php}echo base_url(){/php}images/branches/computer1.jpg" alt="Computer Engineering" />
			<p>It is primarily software engineers who focus on creating the software systems 
				used by individuals and businesses, but computer engineers may also design and 
				develop some software applications. </p><br />
			<p class="cut-off">Specialty Areas</p>
			<p> Coding, Cryptography, andInformation Protection - Communications and Wireless 
				Networks - Compilers and Operating Systems - Computational Science and 
				Engineering - Computer Networks, Mobile Computing, and Distributed Systems - Computer 
				Systems: Architecture, Parallel Processing, and Dependability - Computer Vision and 
				Robotics - Embedded Systems - Integrated Circuits, Very Large-Scale Integration 
				(VLSI) Design, Testing, and Computer Aided Design (CAD) - Signal, Image, and 
				Speech Processing </p>
			<p class="grey-context">Coding, Cryptography, and Information Protection <br />
			</p>
			<p>Computer engineers in this area are developing novel methods for protecting 
				digital images, music, and other information from errors in transmission or storage, 
				copyright infringement and other forms of tampering. Coding theory is used to 
				detect and correct errors caused by distortions in the transmission or storage of 
				digital information, or to compress information. In particular, wireless 
				communications, multi-antenna systems, optical transmission, and other realistic 
				communication systems pose important open challenges for the reliable transmission and 
				protection of information. Digital watermarking is the process of embedding 
				codes, usually secret, in the images/information to be stored to deter hackers from 
				downloading information obtained illegally, and to efficiently manage large 
				image databases.</p>
			<p class="grey-context">Communications and Wireless Networks</p>
			<p>This specialty area focuses on a broad range of topics that will advance the 
				frontiers of communications systems and networks (with particular attention to 
				wireless), modulation and error-control coding, and information theory. Computer 
				engineers working in this area may explore wireless communication opportunities to 
				take advantage of new frequency bands and increase the efficiency of current 
				bands. Other areas of focus are design techniques for high-speed networks, 
				interference suppression and modulation, design and analysis of fault-tolerant systems, 
				and storage and transmission schemes.<br />
			</p>
				<img align="right" src="{php}echo base_url(){/php}images/branches/computer2.jpg" alt="Computer Engineering" />
			<p class="grey-context">Compilers and Operating Systems <br />
			</p>
			<p>Those focusing on the specialty area of compilers and operating systems design 
				future computer operating systems, libraries, and applications to be 
				automatically customized for each deployment environment. They might develop new operating 
				system architectures, transparent program analysis techniques, post-link-time 
				code transformation algorithms, and novel quality assurance techniques. <br />
			</p>
			<p class="grey-context">Computational Science and Engineering <br />
			</p>
			<p>In this area, computational methods are applied to formulate and solve complex 
				mathematical problems in engineering and in the physical and the social sciences. 
				Computer simulation methods are developed for all kinds of systems, and 
				effective display techniques are employed to communicate the computational results to 
				the user. Examples include aircraft design, the plasma processing of nanometer 
				features on semiconductor wafers, VLSI circuit design, radar detection systems, ion 
				transport through biological channels, and much more. <br />
			
			</p>
			<p class="grey-context">Computer Networks, Mobile Computing, and Distributed Systems<br />
			</p>
			<p>Individuals working in this area would build integrated environments for 
				computing, communications, and information access over heterogeneous underlying 
				technologies. Specific projects might include shared-channel wireless networks, 
				adaptive resource management in dynamic distributed systems including mobile systems, 
				improving the quality of service in mobile and ATM environments, a platform for 
				adaptive computing and seamless memory over heterogeneous wireless networks, and 
				reliable and efficient communication on a fast Ethernet cluster.<br />
			</p>
			<p class="grey-context">Computer Systems: Architecture, Parallel Processing, and Dependability<br />
			</p>
			<p>The Computer Systems area encompasses a broad spectrum of research projects that 
				address all aspects of reliable, testable, secure, high-performance computer 
				systems. Specific projects might include designing a super-pipelined single-chip 
				coprocessor for executing multi-threaded digital signal processing applications; 
				investigating how to build highly-available and secure computer hardware, 
				software, network, and telecommunication systems; and developing new theory, 
				algorithms, and tools to predict the availability of computer hardware, software, network, 
				and telecommunication systems. </p>
			<p class="grey-context">Computer Vision and Robotics <br />
			</p>
			<p>In this area computer engineers focus on (a) visual sensing, in which images of 
				a scene are taken as input and estimates of the three-dimensional 
				characteristics of the scene are output, (b) representation, which addresses efficient visual 
				depiction and communication of the environment, and (c) manipulation of the 
				environment, in which the acquired three-dimensional information is used to perform 
				tasks such as navigation and assembly. Applications offer the promise of 
				improved human modeling, image communication, and human-computer interfaces, as well as 
				devices such as special-purpose cameras with versatile vision sensors. <br />
			</p>		<img align="right" src="{php}echo base_url(){/php}images/branches/computer3.jpg" alt="Computer Engineering" />
			<p class="grey-context">Embedded Systems<br />
			</p>
			<p>Computer engineers working in this area focus on enhancing the speed, 
				reliability, and performance of systems, by means of computer technology -- for example, 
				consumer products, and business and industrial machines. Most functions of the 
				modern automobile are controlled by embedded microprocessors. Embedded systems are 
				currently being developed that coordinate systems such as automated vehicles and 
				equipment to conduct search and rescue, automated transportation systems, and 
				human-robot coordination to repair equipment in space. <br />
				Integrated Circuits, Very Large-Scale Integration (VLSI)Design, Testing, and 
				Computer Aided Design (CAD)<br />
				Computer engineers working in this area focus on enhancing the speed, 
				reliability, and energy efficiency of next-generation Very Large-Scale Integration 
				(VLSI) circuits and microsystems, as well as automating the design process. Projects 
				might include low-power VLSI algorithms and architectures, noise-tolerance for 
				VLSI and DSP (digital signal processors), mixed-signal analog IC (integrated 
				circuit) design, MEMS (Micro Electro Mechanical Systems) for integrated passive RF 
				(radio frequency) components, electrothermal simulation and electrostatic 
				discharge protection for silicon-on-insulator CMOS (complementary 
				metal-oxide-semiconductor) circuits, and a theoretical exploration of the fundamental bounds of 
				efficiency and reliability of VLSI computation. </p>
			<p class="grey-context">Signal, Image, and Speech Processing<br />
			</p>
			<p>Computer engineers working in this area might focus on developing improvements 
				in human-computer interaction, speech recognition and synthesis, medical and 
				scientific imaging, or communications systems. Computer vision tasks such as facial 
				feature recognition, when combined with multimedia databases and novel schemes 
				for representation and compression, are examples of work in this area. Work in 
				speech and language engineering would seek to understand human language faculties 
				and to develop computer systems with comparable faculties. Dynamic MRI (Magnetic 
				Resonance Imaging), fast computed tomography, electron microscopy, laser imaging 
				of ocean mines, and passive radar imaging of aircraft using radio and television 
				signals are among the imaging systems currently being developed. Signal 
				processing projects might focus on developing new advances in hearing aid technology. <br />
			</p><br />
			<p class="cut-off">Day in the Life<br />
			</p>
			<p>Computer engineers are concerned with the design, development, and 
				implementation of computer technology into a wide range of consumer, industrial, commercial, 
				and military applications. In automobiles design, for example, computers are 
				integrated into many systems, including air conditioning, navigation, audio and 
				video systems, and even tire pressure alert systems. As more and more products 
				incorporate or interact with computers, computer engineers are challenged to develop 
				computer applications that improve the quality of life while being sensitive to 
				manufacturing and distribution costs.</p><br />
			<p class="cut-off">Teams and Coworkers<br />
			</p>
			<p>Almost all jobs in engineering require some sort of interaction with coworkers. 
				Whether they are working in a team situation, or just asking for advice, most 
				engineers have to have the ability to communicate and work with other people. 
				Engineers should be creative, inquisitive, analytical, and detail-oriented. They 
				should be able to work as part of a team and to communicate well, both orally and 
				in writing. Communication abilities are important because engineers often 
				interact with specialists in a wide range of fields outside engineering. Writing and 
				presentation skills are also vital so engineers can share their research and 
				experiences with colleagues through topical meetings, professional associations, and 
				various publications.</p><br />
					<img align="right" src="{php}echo base_url(){/php}images/branches/computer4.jpg" alt="Computer Engineering" />
			<p class="cut-off">Tasks<br />
			</p>
			<p>Computer engineers work on hardware, software and the interface between the two. 
				They work in teams with other engineers and others from other areas to design, 
				build, and maintain systems that incorporate or use computers. Working as a 
				computer engineer requires expertise in both computer hardware and software, and 
				requires the engineer to be able to recommend tradeoffs between hardware and 
				software to create a system or product design that is cost effective and useful.</p><br />
			<p class="cut-off">The Workplace<br />
			</p>
			<p>Computer engineers usually work in offices or laboratories in comfortable 
				surroundings. They usually work about 40 hours a week -- the same as many other 
				professional or office workers do. However, evening or weekend work may be necessary 
				to meet deadlines or solve specific problems. Given the technology available 
				today, telecommuting is common for computer professionals. As networks expand, more 
				work can be done from remote locations through modems, laptops, electronic mail, 
				and the Internet. Computer Engineers are employed in industry, government, 
				education and consulting. It is difficult to find a company that doesn't require the 
				expertise of computer engineers for its products or systems. </p><br />
			<p class="cut-off">Employment <br />
			</p>
			<p>According to the U.S. Bureau of Labor Statistics, computer engineers hold about 
				79,000 jobs. This represents 5.3% of the 1.5 million jobs held by engineers in 
				the U.S. <br />
				Computer engineers are employed in industry, government, education and 
				consulting. They usually work in teams with other engineers and individuals from other 
				functional areas. They may be working on a new design of an electronic component 
				for an individual project, focused on the development of software specific to a 
				new product, or one being redesigned, or may work in sales or in supporting 
				research activities. Computer engineers frequently work on new applications of 
				computers, such as advances in digital television and photography, virtual meeting 
				technology, intelligent highways, control systems, and new technologies for cars, 
				phones, security systems, telescopes, airplanes, and space vehicles. <br />
			</p><br />
			<p class="cut-off">Career Path Forecast<br />
			</p>
			<p>According to the U.S. Department of Labor, Bureau of Labor Statistics, computer 
				hardware engineers are expected to have 5 percent employment growth over the 
				2006-2016 period -- slower than the average for all occupations. <br />
				Although the use of information technology continues to expand rapidly, the 
				manufacture of computer hardware is expected to be adversely affected by intense 
				foreign competition. <br />
				As computer and semiconductor manufacturers contract out more of their 
				engineering needs to both domestic and foreign design firms, much of the growth in 
				employment of hardware engineers is expected in the computer systems design and 
				related services industry. </p>
			<p></p>
		</div>
	</div>
</div>
