<div id="center" class="floatr">
	<div id="v-thin-line"><div class="basic-text">
	<h1>Environmental engineering</h1>
   <div class="large-context">
        <ul>
		  <li><a href="#Overview">Overview</a></li>
	      <li><a href="#DayintheLife">Day in the Life</a></li>
		  <li><a href="#JobDuties">Job Duties</a></li>
		  <li><a href="#TheWorkplace">The Workplace </a></li>
		  <li><a href="#Teams">Teams and Coworkers</a></li>
		  <li><a href="#Employment">Employment</a> </li>
		  <li><a href="#CareerPathForecast">Career Path Forecast </a></li>
		</ul>
        </div>
		<p class="cut-off">Overview<a name="Overview" id="Overview"></a></p>
	<p> Using the principles of biology and chemistry, environmental engineers develop 
		solutions to environmental problems. They are involved in water and air 
		pollution control, recycling, waste disposal, and public health issues. 
		Environmental 
		engineers conduct hazardous-waste management studies in which they evaluate the 
		significance of the hazard, offer analysis on treatment and containment, and 
		develop regulations to prevent mishaps. <br />
		They design municipal water <img align="right" src="{php}echo base_url(){/php}images/branches/environmental4.jpg" alt="Environmental Engineering" />supply and industrial wastewater treatment systems. They conduct research on 
		proposed environmental projects, analyze scientific data, and perform quality 
		control checks. They provide legal and financial consulting on matters related 
		to the 
		environment. </p>
	<p>Environmental engineers are concerned with local and worldwide environmental 
		issues. They study and attempt to minimize the effects of acid rain, global 
		warming, automobile emissions, and ozone depletion. They also are involved in 
		the 
		protection of wildlife.</p>
	<p>Many environmental engineers work as consultants, helping their clients to 
		comply with regulations and to clean up hazardous sites.</p>
	<div align="right">[ <a href="javascript:scroll(0,0)">Top</a> ]</div>
	<img align="right" src="{php}echo base_url(){/php}images/branches/environmental1.jpg" alt="Environmental Engineering" />
	<p><span class="cut-off">Day in the Life</span>
	  <span class="cutoff"><a name="DayintheLife" id="DayintheLife"></a></span></p>
	<p>Environmental engineers develop ways to solve problems related to the 
		environment.&nbsp; They are involved in both local and global environmental 
		protection 
	  efforts such as air and water pollution control, recycling, and waste disposal.</p>
	<div align="right">[ <a href="javascript:scroll(0,0)">Top</a> ]</div>
	<p class="cut-off">Job Duties<span class="cutoff"><a name="JobDuties" id="JobDuties"></a></span></p>
	<p> Environmental engineers' job duties include collecting soil or groundwater 
		samples and testing them for contamination; designing municipal sewage and 
		industrial wastewater systems; analyzing scientific data; researching 
		controversial 
		projects; and performing quality control checks.&nbsp; They may be involved in 
		legal 
		or financial consulting regarding environmental processes or issues.&nbsp; They 
		may study and attempt to minimize the effects of large-scale problems such as 
		acid rain, global warming, and ozone depletion.
	</p>
	<p> Many environmental engineers work as consultants, helping their clients comply 
		with regulations and the cleanup of hazardous waste sites.&nbsp; One emphasis 
		in 
		environmental engineering consulting is on brownfields -- land areas that are 
		abandoned because of contamination by hazardous substances.&nbsp; Environmental 
		engineers help clients clean up the brownfields for reuse in place of premium 
		land, minimizing the liabilities and the costs of infrastructure or building 
		projects.</p>
	<div align="right">[ <a href="javascript:scroll(0,0)">Top</a> ]</div>
	<p class="cut-off"> The Workplace<span class="cutoff"><a name="TheWorkplace" id="TheWorkplace"></a></span></p>
	<img align="right" src="{php}echo base_url(){/php}images/branches/environmental2.jpg" alt="Environmental Engineering" />
	<p> The type of job environmental engineers have often determines whether they work 
		inside or outside.&nbsp; However, most work inside a majority of the 
		time.&nbsp; 
		Environmental engineers whose tasks require site visits -- for purposes such as 
		collecting samples, checking quality control, and investigating sites for 
		possible contamination -- spend at least part of their time away from the 
		office.&nbsp; Site visits are more likely to take environmental engineers to 
		unpleasant 
		surroundings than to pristine ones, but they also give engineers a chance to 
		turn 
		theory into reality.&nbsp; And, working outside the office allows some 
		environmental engineers to interact with people their work affects.</p>
	<div align="right">[ <a href="javascript:scroll(0,0)">Top</a> ]</div>
	<p class="cut-off"> Teams and Coworkers <span class="cutoff"><a name="Teams" id="Teams"></a></span></p>
	<p>Almost all jobs in engineering require some sort of interaction with coworkers. 
		Whether they are working in a team situation, or just asking for advice, most 
		engineers have to have the ability to communicate and work with other people. 
		Engineers should be creative, inquisitive, analytical, and detail-oriented. 
		They 
		should be able to work as part of a team and to communicate well, both orally 
		and 
		in writing. Communication abilities are important because engineers often 
		interact with specialists in a wide range of fields outside engineering.</p>
	<div align="right">[ <a href="javascript:scroll(0,0)">Top</a> ]</div>
	<p class="cut-off"> Employment <span class="cutoff"><a name="Employment" id="Employment"></a></span></p>
	<img align="right" src="{php}echo base_url(){/php}images/branches/environmental3.jpg" alt="Environmental Engineering" />
	<p>They are employed at universities and research firms, government agencies, 
		testing facilities, and also at major corporations.
		Environmental Engineers work in a wide variety of industries, including 
		chemical, pharmaceutical, water/wastewater treatment, mining, and 
		manufacturing, and 
		can be involved in hazardous waste remediation, air pollution control, 
		facilities 
		planning, and environmental consulting. </p>
	<p> As the trend of regulation changes from pollution cleanup to prevention, 
		environmental engineers will have to shift their focus to public health, an 
		area of 
		growing concern.&nbsp; But trends in environmental protection and regulation 
		constantly change, so environmental engineers must keep abreast of a range of 
		environmental issues to ensure steady employment.&nbsp; Political factors also 
		have an 
		impact on the job outlook for environmental engineering employment 
		opportunities; looser environmental regulations would reduce job opportunities, 
		stricter 
		regulations would enhance them.</p>
	<div align="right">[ <a href="javascript:scroll(0,0)">Top</a> ]</div>
	<p> <span class="cut-off">Career Path Forecast </span><span class="cut-off"><span class="cutoff"><a name="CareerPathForecast" id="CareerPathForecast"></a></span></span><br />
		More environmental <img align="right" src="{php}echo base_url(){/php}images/branches/environmental5.jpg" alt="Environmental Engineering" />engineers will be needed to comply with environmental regulations and to develop 
		methods of cleaning up existing hazards. <br />
		A shift in emphasis toward preventing problems rather than controlling those 
		that already exist, as well as increasing public health concerns resulting from 
		population growth, also are expected to spur demand for environmental 
		engineers. 
		Because of this employment growth, job opportunities should be good even as 
		more 
		students earn degrees. </p>
	<div align="right">[ <a href="javascript:scroll(0,0)">Top</a> ]</div>
	</div>
	</div></div>
