<div id="center" class="floatr">
	<div id="v-thin-line"><div class="basic-text">
	<h1>Industrial engineering</h1>
    <div class="large-context">
        <ul>
		  <li><a href="#Overview">Overview</a></li>
	      <li><a href="#DayintheLife">Day in the Life</a></li>
		  <li><a href="#JobDuties">Job Duties</a></li>
		  <li><a href="#Teams">Teams and Coworkers</a></li>
		  <li><a href="#Employment">Employment</a> </li>
		  <li><a href="#CareerPathForecast">Career Path Forecast </a></li>
		</ul>
      </div>
		<p class="cut-off">Overview<a name="Overview" id="Overview"></a></p>
	<p>Industrial engineers determine the most effective ways to use the basic factors 
		of production -- people, machines, materials, information, and energy -- to make 
		a product or to provide a service. They are the bridge between management goals 
		and operational performance. They are more concerned with increasing 
		productivity through the management of people, methods of business organization, and 
		technology than are engineers in other specialties, who generally work more with 
		products or processes. Although most industrial engineers work in manufacturing 
		industries, they may also work in consulting services, healthcare, and communications.</p>
	<p>To solve organizational, production, and related problems most efficiently, 
		industrial engineers carefully study the product and its requirements, use 
		mathematical methods such as operations research to meet those requirements, and design 
		manufacturing and information systems. </p>
	<p>They develop management control systems to aid in financial planning and cost 
		analysis and design production planning and control systems to coordinate 
		activities and ensure product quality. They also design or improve systems for the 
		physical distribution of goods and services. Industrial engineers determine which 
		plant location has the best combination of raw materials availability, 
		transportation facilities, and costs. Industrial engineers use computers for simulations and 
		to control various activities and devices, such as assembly lines and robots. 
		They also develop wage and salary administration systems and job evaluation 
		programs. Many industrial engineers move into management positions because the work is 
		closely related.
		<img align="right" src="{php}echo base_url(){/php}images/branches/industrial2.jpg" alt="Industrial Engineering" />
		The work of health and safety engineers is similar to that of industrial 
		engineers in that it deals with the entire production process. Health and safety 
		engineers promote worksite or product safety and health by applying knowledge of 
		industrial processes, as well as mechanical, chemical, and psychological 
		principles. They must be able to anticipate, recognize, and evaluate hazardous conditions 
		as well as develop hazard control methods. They also must be familiar with the 
		application of health and safety regulations. </p>
	<div align="right">[ <a href="javascript:scroll(0,0)">Top</a> ]</div>
	<p class="cut-off">Day in the Life<span class="cutoff"><a name="DayintheLife" id="DayintheLife"></a></span></p>
	<p> Beginning engineering graduates usually work under the supervision of 
		experienced engineers and, in large companies, also may receive formal classroom or 
		seminar-type training. As new engineers gain knowledge and experience, they are 
		assigned more difficult projects with greater independence to develop designs, solve 
		problems, and make decisions. Engineers may advance to become technical 
		specialists or to supervise a staff or team of engineers and technicians. Some may 
		eventually become engineering managers or enter other managerial or sales jobs. </p>
	<div align="right">[ <a href="javascript:scroll(0,0)">Top</a> ]</div>
	<p class="cut-off">Teams and Coworkers<a name="Teams" id="Teams"></a></p>
	<img align="right" src="{php}echo base_url(){/php}images/branches/industrial3.jpg" alt="Industrial Engineering" />
	<p> Almost all jobs in engineering require some sort of interaction with coworkers. 
		Whether they are working in a team situation, or just asking for advice, most 
		engineers have to have the ability to communicate and work with other people. 
		Engineers should be creative, inquisitive, analytical, and detail-oriented. They 
		should be able to work as part of a team and to communicate well, both orally and 
		in writing. Communication abilities are important because engineers often 
		interact with specialists in a wide range of fields outside engineering. </p>
	<div align="right">[ <a href="javascript:scroll(0,0)">Top</a> ]</div>
	<p class="cut-off">Tasks<span class="cutoff"> &amp; Job Duties<a name="JobDuties" id="JobDuties"></a></span></p>
	<p> Industrial engineers determine the most effective ways to use the basic factors 
		of production -- people, machines, materials, information, and energy -- to make 
		a product or to provide a service. They are the bridge between management goals 
		and operational performance. They are more concerned with increasing 
		productivity through the management of people, methods of business organization, and 
		technology than are engineers in other specialties, who generally work more with 
		products or processes. Although most industrial engineers work in manufacturing 
		industries, they may also work in consulting services, healthcare, and 
		communications. </p>
	<p>To solve organizational, production, and related problems most efficiently, 
		industrial engineers carefully study the product and its requirements, use 
		mathematical methods such as operations research to meet those requirements, and design 
		manufacturing and information systems. They develop management control systems to 
		aid in financial planning and cost analysis and design production planning and 
		control systems to coordinate activities and ensure product quality. They also 
		design or improve systems for the physical distribution of goods and services. 
		Industrial engineers determine which plant location has the best combination of raw 
		materials availability, transportation facilities, and costs. Industrial 
		engineers use computers for simulations and to control various activities and devices, 
		such as assembly lines and robots. They also develop wage and salary 
		administration systems and job evaluation programs. Many industrial engineers move into 
		management positions because the work is closely related. </p>
	<div align="right">[ <a href="javascript:scroll(0,0)">Top</a> ]</div>
	<img align="right" src="{php}echo base_url(){/php}images/branches/industrial1.jpg" alt="Industrial Engineering" />
	<p>The work of health and safety engineers is similar to that of industrial 
		engineers in that it deals with the entire production process. Health and safety 
		engineers promote worksite or product safety and health by applying knowledge of 
		industrial processes, as well as mechanical, chemical, and psychological principles. 
		They must be able to anticipate, recognize, and evaluate hazardous conditions as 
		well as develop hazard control methods. They also must be familiar with the 
		application of health and safety regulations.</p>
	<p align="right" >[ <a href="javascript:scroll(0,0)">Top</a> ]</p>
	<p class="cut-off">Employment <a name="Employment" id="Employment"></a></p>
	<p>Six in 10 of these jobs were in manufacturing industries, and an additional 1 in 
		10 worked in professional, scientific, and technical services firms, many of 
		whom provide consulting services to manufacturing firms. Because their skills can 
		be used in almost any type of organization, industrial engineers are more widely 
		distributed among industries than are other engineers. </p>
	<p>Both small and large organizations employ industrial engineers. </p>
	<div align="right">[ <a href="javascript:scroll(0,0)">Top</a> ]</div>
	<img align="right" src="{php}echo base_url(){/php}images/branches/industrial4.jpg" alt="Industrial Engineering" />
	<p class="cut-off">Career Path Forecast<a name="CareerPathForecast" id="CareerPathForecast"></a></p>
	<p> As firms look for new ways to reduce costs and raise productivity, they 
		increasingly will turn to industrial engineers to develop more efficient processes and 
		reduce costs, delays, and waste. 
		This should lead to job growth for these engineers, even in manufacturing 
		industries with slowly growing or declining employment overall. Because their work is 
		similar to that done in management occupations, many industrial engineers leave 
		the occupation to become managers. Many openings will be created by the need to 
		replace industrial engineers who transfer to other occupations or leave the 
		labor force. </p>
	<div align="right">[ <a href="javascript:scroll(0,0)">Top</a> ]</div>
	<p>&nbsp;</p>
	</div></div></div>
