<div id="center" class="floatr">
	<div id="v-thin-line">
		<div class="basic-text">
			<h1>Marine Engineering</h1>
            <p class="cut-off">Overview<a name="Overview" id="Overview"></a></p>
			<img align="right" src="{php}echo base_url(){/php}images/branches/marine1.jpg" alt="Marine Engineering" />
			<p> Marine engineers are involved in the design, construction, and maintenance of 
				ships, boats, and related equipment. They design and supervise the construction 
				of everything from aircraft carriers to submarines, and from sailboats to tankers.</p>
			<p>Marine engineers work on the propulsion, steering, and other systems of ships. 
				Marine engineers apply knowledge from a range of fields to the entire design and 
				production process of all water vehicles. Workers who operate or supervise the 
				operation of marine machinery on ships and other vessels also may be called 
				marine engineers or, more frequently, ship engineers.<img align="right" src="{php}echo base_url(){/php}images/branches/marine2.jpg" alt="Marine Engineering" /></p>
		  <p>According to the Society Marine Engineers, Marine Engineers are responsible for 
				selecting ships' machinery, which may include diesel engines, steam turbines, 
				gas turbines, or nuclear reactors, and for the design of mechanical, electrical, 
				fluid, and control systems throughout the vessel. Some marine engineers serve 
				aboard ships to operate and maintain these systems.</p>
			<p class="cut-off">Career Path Forecast<img align="right" src="{php}echo base_url(){/php}images/branches/marine4.jpg" alt="Marine Engineering" /></p>
		  <p>Strong demand for naval vessels and recreational small craft should more than 
				offset the long-term decline in the domestic design and construction of large 
				oceangoing vessels. Good prospects are expected for marine engineers because of 
				growth in employment, the need to replace workers who retire or take other jobs, and 
				the limited number of students pursuing careers in this occupation. </p>
			<div align="left">[ <a href="javascript:scroll(0,0)">Top</a> ]</div>
		  <p>&nbsp;</p>
	  </div>
	</div>
</div>
