<div id="doc" class="yui-t7"> 
	<div id="bd" role="main">
		<div class="yui-g">
			<div role="main" class="yui-u first">
				<div width="85%">
					<div class="grey-line-below">
						<span class="cut-off">Activate your College Khabri account</span>
					</div>
					<span class="large-context"><strong>An email has been sent to {$user->emailAddress()}</strong></span>
					<br />
					<br />
					<div class="medium-text">Please check the email and copy-paste the activation code into the box below.</div>
					<br />
					{$activationForm.formOpen}
					{$activationForm.formErrors}
					<div class="search-results-small">
						{$activationForm.codeLabel}<br />
						{$activationForm.codeBox}<br />
					</div>
					{$activationForm.fNameLabel}<br />
					{$activationForm.fNameBox}<br />
					{$activationForm.lNameLabel}<br />
					{$activationForm.lNameBox}<br />
					{$activationForm.homeUniLabel}<br />
					{$activationForm.homeUniSelect}<br />
					{$activationForm.categoryLabel}<br />
					{$activationForm.categorySelect}<br />
					{$activationForm.mhtAppNoLabel}<br />
					{$activationForm.mhtAppNoBox}<br />
					{$activationForm.pCETScoreLabel}<br />
					{$activationForm.pCETScoreBox}<br />
					{$activationForm.pCETRankLabel}<br />
					{$activationForm.pCETRankBox}<br />
					{$activationForm.ai3eAppNoLabel}<br />
					{$activationForm.ai3eAppNoBox}<br />
					{$activationForm.pAI3EScoreLabel}<br />
					{$activationForm.pAI3EScoreBox}<br />
					{$activationForm.pAI3ERankLabel}<br />
					{$activationForm.pAI3ERankBox}<br />
					{$activationForm.submit}
					{$activationForm.formClose}
					<div class="grey-line-below">
						&nbsp;<br />
					</div>
					<br />
				</div>
			</div>
			<div role="contentinfo" class="yui-u">
			</div>
		</div>
	</div>
</div>