<div id="center" class="floatr">
	<div id="v-thin-line">
		<img src="{php}echo base_url(){/php}/images/engg-benefits.jpg" alt="" /> 
		<h1>Benefits of Engineering course</h1>
	</div>
	<p class="grey-context"><em>The Engineering course can be benificial to you for many reasons.</em></p>
	<p class="grey-context"><em>Some may deliriously say, &quot;Mai mere Pitaji ka sapna poora karke 
			rahoonga!&quot;. Others may find it cheesy. Some may do it purely for a reason 
			to boost 
			thier 'geekyness'. You've been always opening your stereo system, building 
			websites, watching tech TV shows or proudly calling yourself a geek.</em></p>
	<p class="grey-context"><em>Engineering is serious business. You must have always heard the nusances and 
			mind-twisting threats by other people, &quot;Engineering is tough! 
			beware!&quot;, 
			know that they have nothing better to do in life than to warn you. They either 
			are showing off or don't know what Engineeing is. You have to understand that 
			nothing is tough until you want it to be. </em></p>
	<p class="grey-context"><em>This career is the most respected and worthy for those who passionalty to it. 
			Here are some more points which prove Engineering beneficial.</em><br />
	</p>
	<div id="v-thin-line"> 
		<h2>Intellectual development</h2>
		<img id="top-small-border" src="{php}echo base_url(){/php}/images/Intellectual-development.jpg" alt="High Performance Materials" />
		<p><span class="medium-text">Engineering education "exercises" your brain much the way weight-lifting or 
				aerobics exercises your body and the results are remarkably similar. </span></p>
		<p><span class="medium-text">The only difference is that physical exercise improves your body, while mental 
				exercise improves your mind. As your engineering studies progress, therefore, 
				your abilities to solve problems and think critically will increasingly grow 
				stronger.</span></p>
		<p><span class="medium-text">One of the most valued things about engineering education is that it develops 
				logical thinking ability. It gives you a great deal of confidence in your 
				ability 
				to deal effectively with problems. And this is not limited to engineering 
				problems. One can use the critical thinking and problem-solving skills 
				developed 
				through engineering education to take on such varied tasks as planning a 
				vacation, 
				searching for a job, dealing with my car breaking down in the desert, 
				organizing a 
				banquet to raise money, purchasing a new home. We are sure you also will come 
				to 
				value the role your engineering education plays in your intellectual growth. </span></p>
	</div>
	<div id="v-thin-line"> 
		<h2>Improves professional life</h2>
		<img id="top-small-border" src="{php}echo base_url(){/php}/images/to-improve-life.jpg" alt="High Performance Materials" />
		<p><span class="medium-text">The field of engineering practice itself offers an enormous diversity of job 
				functions.</span></p>
		<ul>
			<li><span class="medium-text"> If you are imaginative and creative, <strong>design engineering</strong> may be for you.</span></li>
			<li><span class="medium-text">If you like working in laboratories and conducting experiments, you might 
					consider <strong>test engineering</strong>.</span></li>
			<li><span class="medium-text"> If you like to organize and expedite projects, look into becoming a <strong>development engineer</strong>.</span></li>
			<li><span class="medium-text">If you are persuasive and like working with people, sales or field <strong>service engineering</strong> may be for you.</span></li>
		</ul>
		<p><span class="medium-text">To know more refer, <a href="#">What kind of Work Engineers do?</a></span></p>
	</div>
	<div id="v-thin-line"> 
		<h2>Financial Security</h2>
		<img id="top-small-border" src="{php}echo base_url(){/php}/images/financial-security.jpg" alt="High Performance Materials" />
		<p><span class="medium-text">If you do become an engineer, you will be rewarded financially. Engineers, even 
				in entry-level positions, are well paid. In fact, engineering graduates receive 
				the highest starting salary of any discipline. To know more refer placement 
				records of engineering colleges. </span></p>
	</div>
	<div id="v-thin-line"> 
		<h2>Prestige</h2>
		<img id="top-small-border" src="{php}echo base_url(){/php}/images/prestige.jpg" alt="High Performance Materials" />
		<p><span class="medium-text">What is "prestige"? The dictionary defines it as "the power to command 
				admiration or esteem," usually derived from one's social status, achievements, 
				or 
				profession. Engineering, as both a field of study and a profession, confers 
				prestige. 
				You may have already experienced the prestige associated with an engineering 
				degree. To non-engineering majors, engineering students are "the really smart, 
				studious ones." Everyone knows that engineering study requires hard work, so 
				people 
				assume you must be a serious, highly capable student.</span></p>
	</div>
</div>