<div class="main-search-div" style="width:700px">
	<div id="center" class="basic-text">
		<h1>Frequently Asked Questions</h1>
		<br />
		<p class="itl cut-off">1) How can I figure out which is the right college and branch for me?</p>
		<br />
		<blockquote>
			<p> We have provided a framework
				to help you figure out right choice of colleges and stream for you.</p>
			<br />
		</blockquote>
		<p class="itl cut-off">2) How do I search colleges?</p>
		<br />
		<blockquote>
			<p> Once you have decided the branch, go to search page. Select the branch name. 
				Specify other parameters important to you e.g. university, district, minority 
				status, fees etc. The search results page will show the colleges and branches that 
				match your search criteria.</p>
			<br />
		</blockquote>
		<p class="itl cut-off">3) What is projected MHT CET/AIEEE score? </p>
		<br />
		<blockquote>
			<p>Projected MHT CET/AIEEE score is your estimate of how much you would score in 
				MHT CET/AIEEE. It need not be perfect; you can enter a rough estimate. You can 
				change the projected score any number of times. </p>
			<br />
		</blockquote>
		<p class="itl cut-off">4) Why is projected MHT CET / AIEEE score mandatory? </p>
		<br />
		<blockquote>
			<p>CollegeKhabri.com helps you decide the right colleges for you. We show the list 
				of the colleges where you stand a chance of getting the admission based on last 
				year’s cut off. So it is important that you enter your projected MHT CET score 
				on your profile page.
				Once the Merit Rank for MHT CET and AIEEE is out, you will be required to enter 
				your merit rank on your profile. Your merit rank will give you more accurate 
				search results.</p>
			<br />
		</blockquote>
		<p class="itl cut-off">5) What is popularity rank? </p>
		<br />
		<blockquote>
			<p>Popularity rank is the rank of the college or branch based on the merit rank of 
				the students admitted to that college or branch. The more popular a college, the 
				lower its merit rank. </p>
			<br />
		</blockquote>
		<p class="itl cut-off">6) What is the home university? </p>
		<br />
		<blockquote>
			<p>Home university depends on the district from which you appeared for the HSC 
				exam. </p>
			<br />
		</blockquote>
		<p class="itl cut-off">7) Why do I need to enter the home university? </p>
		<br />
		<blockquote>
			<p>70% of the seats are reserved for candidates from home university and 30% are 
				reserved for candidates from out of home university. If you enter your home 
				university in your profile, we will show you appropriate cut off applicable to you as 
				well as your chances of getting into a branch.</p>
			<br />
		</blockquote>
		<p class="itl cut-off"> 8) What is choice code? </p>
		<br />
		<blockquote>
			<p>Choice code is a unique number given to a branch in a college. </p>
			<br />
		</blockquote>
		<p class="itl cut-off">9) What does “My Chances” mean on search results page? </p>
		<br />
		<blockquote>
			<p>“My Chances” column indicates your chances of getting into a branch in a 
				college. The chances are categorized as high, medium and low. Low chances means 
				it’s tough for a candidate to get an admission into that college through 
				Centralized Admission Procedure. My chances do not take into consideration Institute 
				Level seats.
				If you still have any doubts, send us your queries. We will get back to you as 
				soon as possible.</p>
			<br />
		</blockquote>
		<p class="itl cut-off">10) Why should I become a premium user? </p>
		<br />
		<blockquote>
			<p>A premium user has unlimited access to many important features.</p>
			<br />
		</blockquote>
		<link to="to" features="features" />
		<p class="itl cut-off">11) How do I become a premium user? </p>
		<br />
		<blockquote>
			<p>There are 3 different ways in which you can pay us. [<a href="#">Get details here</a>]</p>
			<br />
		</blockquote>
		<link to="to" payment="payment" methods="methods" />
	</div>
</div>
