<form method="post" action="">
    University: <select name="university">
        {html_options options=$universities}
    </select>
    <br>
    Course Group:
    <div>
        <span id="coursegroup_div">
            <select name="coursegroup[]">
                {html_options options=$coursegroups}
            </select>
        </span>
    </div>
    <a href=# onClick="addOption('coursegroup_div')">[+] Add Course Group</a>
    <br>
    District:
    <div>
        <span id="districts_div">
            <select name="districts[]">
                {html_options options=$districts}
            </select>
        </span>
    </div>
    <a href=# onClick="addOption('districts_div')">[+] Add District</a>
</form>
{literal}
<script language="javascript">
    function addOption(div)
    {
        var masterdiv = document.getElementById(div);
        masterdiv.parentNode.innerHTML += masterdiv.innerHTML;
    }
</script>
{/literal}