
<div style="width:717px; height:auto;margin:auto;border: 1px solid #c7c7c7;font-family:Arial, Helvetica, sans-serif;padding:5px;">
    <p style="font-family:Arial, Helvetica, sans-serif;font-weight:bold;font-size:24pt;letter-spacing:-1px;margin-top:0;">Search Colleges</p>
    <form method="post" action="welcome/search_results">

        <span align="left" id="cut-off">University</span><br>
        <span align="left">
            <select name="university">
                <option value="" selected="selected">Select One</option>
                {html_options options=$universities}
            </select>
            <br><br>
        </span>

        <span id="cut-off">District</span>
        <div>
            <div>
                <select name="districts[]" id="districts">
                    <option value="" selected="selected">Select One</option>
                    {html_options options=$districts}
                </select>
            </div>
            &nbsp;&nbsp;&nbsp;<a onClick="addOption('districts')">[+] Add another district</a><br>
            <span class="style5" style="padding-left:145px"><em>Click here to include another district like 'Thane' in the search</em></span>
        </div>
        <br>

        <div id="coursegroup_selection_div" style="display:none">
            <span id="cut-off">Course Group:</span>
            <div>
                <div>
                    <select name="coursegroup[]" id="coursegroups">
                        <option value="" selected="selected">Select One</option>
                        {html_options options=$coursegroups}
                    </select>
                </div>
                <a onClick="addOption('coursegroups')">[+] Add Course Group</a><br>
                <span class="style5" style="padding-left:145px"><em>Click here to combine two or more course groups</em><br>
                    Eg. (1) Electronics + Instrumentation & Control + Electrical<br/>
                Eg. (2) Bio-technology +  Pharmacy</span>
            </div>
            <div>

            </div>
            <br><br>
            <a onClick="this.parentNode.style.display='none';getElementById('course_selection_div').style.display='block'">Search by specific course?</a>
        </div>
        <div id="course_selection_div">
            <span id="cut-off">Course</span>
            <div>
                <div>
                    <select name="course[]" id="courses">
                        <option value="" selected="selected">Select One</option>
                        {html_options options=$courses}
                    </select>
                </div>
                &nbsp;&nbsp;&nbsp;<a onClick="addOption('courses')">[+] Add another course</a> <br>
                <span class="style5" style="padding-left:290px"><em>Click here to combine two or more courses</em><br>
                Eg.  B. Tech Electronics Engineering + B.E Electronics &amp; Tele-comm.<br/></span>
            </div>
            <br>
            <a onClick="this.parentNode.style.display='none';getElementById('coursegroup_selection_div').style.display='block'">Search by a course group?</a>
            <br>
            <span class="style5">If you want to search all colleges under one group, Eg. Mechanical or Electrical</span>
        </div>
        <input type="submit" name="submit" value="Submit">
    </form>
</div>