<div class="main-search-div">
		<div class="style11" style="float:right">
		        {$searchForm.stateLabel}:&nbsp;{$searchForm.stateSelect} &nbsp;&nbsp;
		        {$searchForm.careerLabel}:&nbsp;{$searchForm.careerSelect}
		        </div>  
<p align="left" style="font-family:Arial, Helvetica, sans-serif;font-weight:bold;font-size:24pt;letter-spacing:-1px;margin-top:0;">Search</p>
      
  
  <div id="less-details-options">
      <div align="right"><a class="style3" onclick="this.parentNode.parentNode.style.display='none';getElementById('less-details-search').style.display='block'">Search by typing the name of the college?</a></div>
    <br/> 
      <span class="cut-off">{$searchForm.universityLabel}</span><br />
        <div>
            <table>
            	<tbody>
            		<tr>
            			<td valign="top">
				        	<span>
				                {$searchForm.universitySelect}
				            </span>
				        </td>
            			<td valign="top">
				        	&nbsp;&nbsp;&nbsp;<a class="style3" onClick="addOption('universities')">[+] Add another University</a><br />
         				    &nbsp;&nbsp;&nbsp;<span class="style5"><em>Add to search colleges or courses in two or more universities</em></span>
						</td>
					</tr>
				</tbody>
			</table>
        </div>
            
     
        </span>
        <span class="cut-off">{$searchForm.districtLabel}</span>
        <div>
            <table>
            	<tbody>
            		<tr>
            			<td valign="top">
				        	<span>
				                {$searchForm.districtSelect}
				            </span>
				        </td>
            			<td valign="top">
				        	&nbsp;&nbsp;&nbsp;<a class="style3" onClick="addOption('districts')">[+] Add another district</a><br />
         				    &nbsp;&nbsp;&nbsp;<span class="style5"><em>Click here to include another district like 'Thane' in the search</em></span>
						</td>
					</tr>
				</tbody>
			</table>
        </div>
        <div id="coursegroup_selection_div" style="display:none">
            <span class="cut-off">{$searchForm.coursegroupLabel}</span>
            <div>
             <table>
            	<tbody>
            		<tr>
            			<td valign="top">	            
			           		<span>
			                    {$searchForm.coursegroupSelect}
			                </span>
			            </td>
			            <td valign="top">
			                &nbsp;&nbsp;&nbsp;<a class="style3" onClick="addOption('coursegroups')">[+] Add Course Group</a><br />
			                &nbsp;&nbsp;&nbsp;<span class="style5"><em>Add to search two or more course groups</em><br /></span>
			                &nbsp;&nbsp;&nbsp;<span class="style5">Eg. (1) Electronics + Instrumentation & Control + Electrical<br/></span>
			                &nbsp;&nbsp;&nbsp;<span class="style5">Eg. (2) Bio-technology +  Pharmacy</span>
			            </td>
			     </tbody>
			 </table>
            </div>
            <br /><br />
            <a class="style3" onClick="this.parentNode.style.display='none';getElementById('course_selection_div').style.display='block'">Search by specific course?</a>
            <br/><span class="style5"><em>If you want know the exact course to search,</em><br/>Eg. B. Tech Mechanical or B.E Electrical Engg.</span>
        </div>
        <div id="course_selection_div">
            <span class="cut-off">{$searchForm.coursesLabel}</span>
            <div>
            <table>
            	<tbody>
            		<tr>
            			<td valign="top">	            
						           		<span>
			                <span>
			                    {$searchForm.coursesSelect}
			                            </span>
			            </td>
			            <td valign="top">    
			                &nbsp;&nbsp;&nbsp;<a class="style3" onClick="addOption('courses')">[+] Add another course</a> <br />
			                &nbsp;&nbsp;&nbsp;<span class="style5"><em>Add to search two or more courses</em><br /></span>
			                &nbsp;&nbsp;&nbsp;<span class="style5">Eg. (1) Automobile + Mechanical<br/></span>
			                    &nbsp;&nbsp;&nbsp;<span class="style5">Eg. (2) Bio-technology +  Pharmacy</span>
			            </td>
			     </tbody>
			 </table>
            </div>
        <br />
        <a class="style3" onClick="this.parentNode.style.display='none';getElementById('coursegroup_selection_div').style.display='block'">Search by a course group?</a><br />
        <span class="style5"><em>If you want to search all colleges under one group, Eg. Mechanical or Electrical</em></span><br />
        </div>
        <br/><br/>
       <div><span><a class="style3" onclick="getElementById('more-details').style.display='block'">Advanced Search</a> <img src="images/rba-arrow-small-down.gif">
       &nbsp;&nbsp;&nbsp;&nbsp;
      </span></div> 
       <br/><br/>
    </div>
    <div id="less-details-search" style="display:none;">
        <span class="cut-off">{$searchForm.collegenameLabel}</span><br />
        {$searchForm.collegenameBox}<br />
        <span class="style5">Eg. <em>Vidyalankar Institute of Technology</em></span><br/><br/>
        <a class="style3" onclick="this.parentNode.style.display='none';getElementById('less-details-options').style.display='block'">Search by selecting options</a><br/><br/>
    </div>
    <div id="more-details" style="display:none">
        <table valign="top">
        <tbody>
        	<tr>
        		<td class="right-border"  style="padding:0 20px;">
			    	<span class="cut-off">{$searchForm.aidLabel}</span><br />
			        {$searchForm.aidSelect}
			        <br /><br /><span class="cut-off">{$searchForm.minorityLabel}</span><br />
			        {$searchForm.minoritySelect}
			        <br /><br /><span class="cut-off">{$searchForm.autonomyLabel}</span><br />
			        {$searchForm.autonomySelect}
			    </td>
			    <td style="padding:0 20px;">
			        <span class="cut-off">{$searchForm.hostelLabel}</span><br />
			        {$searchForm.hostelSelect}
			        <br /><br /><span class="cut-off">{$searchForm.establishmentLabel}</span><br />
			        {$searchForm.establishmentSelect}
			        <br /><br /><span class="cut-off">{$searchForm.feesLabel}</span><br />
			        {$searchForm.feesSelect}
			   </td>
			</tr>
			<tr>
				<td></td>
				<td><br/>
					<div class="style16">&nbsp;{$searchForm.ladiesCheckBox}&nbsp;{$searchForm.ladiesCheckLabel}</div>
					<div class="style16">
				<td>
			</tr>
		</tbody>
		</table>
        <br />
        [<a class="style3" onclick="getElementById('more-details').style.display='none'">x</a>] <a class="style3" onclick="getElementById('more-details').style.display='none'">Close advanced search</a>
    </div>
    <div align="right">{$searchForm.submit}</div>
    {$searchForm.formClose}
</div>