<div id="doc" class="yui-t7"> <br />
	<br />
	<br />
	<div id="bd" role="main">
		<div class="yui-g">
			<div role="main" class="yui-u first">
				<div><br />
					<br />
					<div class="grey-line-below">
						<span class="cut-off">Welcome to College Khabri</span>
					</div>
					<br />
					{$loginForm.formOpen}
					{$loginForm.formErrors}
					{$loginForm.usernameLabel}<br />
					{$loginForm.usernameBox}<br />
					<br />
					{$loginForm.passwordLabel}<br />
					{$loginForm.passwordBox}<br />
					<br />
					{$loginForm.submit}
					{$loginForm.formClose}
					<div class="grey-line-below">
						&nbsp;<br />
					</div>
					<br />
					<span class="medium-text"><strong>Forgot your password?</strong></span>
					<br />
					<br />
					{$forgotForm.formOpen}
					{$forgotForm.formErrors}
					{$forgotForm.usernameLabel}
					{$forgotForm.usernameBox}
					{$forgotForm.passwordLabel}
					{$forgotForm.passwordBox}
					{$forgotForm.submit}
					<br />
					<br />
					<span class="grey-context itl"><strong>A temporary password will be sent to your email</strong></span>
					{$forgotForm.formClose}
				</div>
			</div>
			<div role="contentinfo" class="yui-u">
				<div>
					<div style="background: transparent url({php}echo base_url(){/php}images/features-div-top.gif) left top no-repeat; width: 340px; height:14px;">
					</div>
					<div style="background: transparent url({php}echo base_url(){/php}images/features-div-back.gif) left top repeat-y;padding:0 10px; width:340px;margin: -3px 0 0 0">
						<span class="basic-text"><strong>Not a member? {php}echo anchor('members/signup', 'Register now!');{/php}</strong></span><br />
						<br />
						<span class="cut-off">How do I select the right Engineering branch and college for myself?</span><br />
						<br />
						<div style="width:270px;height:396px; background-image:url({php}echo base_url(){/php}images/login-left.gif);padding-left:51px;" class="small-text">
							<p style="
padding-top:13px;
width:277px;"><strong>Admission Procedure - </strong>Understand everything about engineering admission procedure - quotas, candidate 
								profile, admission rounds, and much more.</p>
							<p style="width:260px;padding-top:22px;"><strong>Documents - </strong>Depending on your profile, we will give you a list of documents that you need to 
								submit. We will also remind you about the deadlines!</p>
							<p style="width:260px;padding-top:20px;"><strong>Right Branch - </strong>Get detailed information about various branches and compare them.</p>
							<p style="width:252px;padding-top:28px;"><strong>Right College - </strong>In addition to last year's cut-off, you will get predicted cut-off for this year 
								based on detailed analysis.</p>
							<p style="width:260px;padding-top:22px;"><strong>Predicted Cut-off - </strong>Learn about colleges which are popular. Get detailed information on fees, 
								placement record, faculty profile, scholarships and much more.</p>
							<p style="width:260px;padding-top:27px;"><strong>Option Form - </strong>Get a list of colleges based on your preferences at a click of the button.</p>
						</div>
					</div>
					<div style="background: transparent url({php}echo base_url(){/php}images/features-div-bot.gif) left bottom no-repeat; width:340px; height:14px;margin: -3px 0 0 0" "="">
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
