<div class="main-search-div" style="width:700px">
	<div id="center" class="basic-text">
		<h1>Privacy policy</h1>
		<p>&nbsp;</p>
		<p><strong>Privacy policy given below applies to all the information collected on this 
				website.</strong></p>
		<p>&nbsp;</p>
		<p class="grey-context"> Why do you want to know my name and e-mail address?</p>
		<p> Engineering admission process is complicated and many aspects of this process 
			change while the process is underway. Hence it is important that you get these 
			latest updates and take a right decision based on latest information. Your name 
			and email address is collected and stored in digital format in our database so 
			that we can </p>
		<p> 1. Send important updates to you e.g. change in important deadlines and 
			addition/deletion of institutes/courses.<br />
			2. Send e-book and newsletters to which you subscribe as part registration 
			process. You can opt out of these mailing lists anytime by sending us an email or 
			by managing your preferences in your profile.<br />
			3. Show personalized information to you.</p>
		<p> We also send promotional mails relevant to you. Again you can opt out of these 
			mailing lists anytime by sending us a mail or by managing your preferences in 
			your profile.</p>
		<p> We also use your personal information to keep track of usage of our service and 
			figure out which parts of our service are popular with users. We also use 
			personal information to resolve any queries users might have.</p>
		<p>&nbsp;</p>
		<p class="grey-context"> Why do you want to know my credit card number and street address?</p>
		<p> Certain important parts of CollegeKhabri.com are available only to premium 
			users. To become premium user you need to pay Rs. 100/- for website access and Rs. 
			50/- for SMS alerts. In order to make it convenient for the users to become 
			premium users we have incorporated an online payment mechanism on our website. 
			Through this mechanism you can make payments online through your credit card. We need 
			you credit card number and street address as part of this payment mechanism. 
			This information is used to authenticate your payment and then process it.</p>
		<p>&nbsp;</p>
		<p class="grey-context"> What other information do you keep track of, about me?</p>
		<p> We need your mobile number so that we can send you important alerts through SMS 
			such as – </p>
		<p> 1. Alert on successful registration.<br />
			2. Alerts for important deadlines.<br />
			3. Alerts on exam results. </p>
		<p>We also collect your CET and/or AIEEE roll number, gender, category so that we 
			can –</p>
		<p> 1. Send you exam results.<br />
			2. Provide you with highly personalized information (e.g. cut off applicable 
			to you based on your category) which will help you make efficient decision<br />
			3. Prevent misuse of the website.</p>
		<p>We also may collect your browser information, IP address, access times, domain 
			name, and referring Web site address. We use this information to operate and 
			improve our services.</p>
		<p>&nbsp;</p>
		<p class="grey-context"> How do you make sure nobody steals my credit card information?</p>
		<p> We do not store your credit card information in any way in our systems. Online 
			payment gateway (A facility to make online payments) is provided by a third 
			party. </p>
		<p>&nbsp;</p>
		<p class="grey-context"> Do you share my information with other parts of your company?</p>
		<p> Your information like Name, CET and/or AIEEE roll number, CET and/or AIEEE 
			scores, mobile number, email id is available to only select employees in the 
			organization.</p>
		<p> You may not be able to modify some parts of the information. This is to ensure 
			that the website is not misused by users.</p>
		<p>&nbsp;</p>
		<p class="grey-context"> Who can I talk to if I have a question about my privacy?</p>
		<p>Please email us at <a href="mailto:contact@CollegeKhabri.com">contact@CollegeKhabri.com</a> your concerns, complaints or suggestions. </p>
		<p>CollegeKhabri.com does not warrant to maintain the confidentiality of your 
			information. CollegeKhabri.com reserves the right to use or disclose your information 
			without any notice to satisfy the legal request, law or regulations.</p>
		<p>We will change the Privacy Policy occasionally to protect the personal 
			information submitted by our users and comply with changing environment. We recommend 
			that you should regularly check the privacy policy.</p>
	</div>
</div>
