<div class="floatr main-search-div">
	<img src="{php}echo base_url();{/php}images/logo-only.jpg" width="176" height="270" alt="" />
	<div id="v-thin-line ">
		<h1>My Profile</h1>
		{$profileForm.formOpen}
		<hr />
		<p class="medium-text v-thin-line">Username: <span class="med-field">{$user->emailAddress()}</span> <span class="grey-context">[<a href="#">Change</a> ]</span></p>
		<p class="medium-text v-thin-line">{$profileForm.password1Label}{$profileForm.password1Box}</p>
		<p class="medium-text v-thin-line">{$profileForm.password2Label}{$profileForm.password2Box}</p>
		<p class="medium-text v-thin-line">Mobile Number: <span class="med-field">{$user->mobile()}</span> <span class="grey-context">[<a href="#">Change</a> ]</span></p>
		<hr />
		<p class="medium-text v-thin-line">{$profileForm.fnameLabel}{$profileForm.fnameBox}</p>
		<p class="medium-text v-thin-line">{$profileForm.lnameLabel}{$profileForm.lnameBox}</p>
		<p class="medium-text v-thin-line">Category: <span class="med-field">{$user->category()}</span> <span class="grey-context">[<a href="#">Change</a> ]</span></p>
		<p class="medium-text v-thin-line">Home University: <span class="med-field">{assign var='uni' value=$user->homeUni()}{$uni->name|default:'outside candidate'}</span> <span class="grey-context">[<a href="#">Change</a> ]</span></p>
		<hr />
		<p class="medium-text v-thin-line">{$profileForm.ai3eAppLabel}{$profileForm.ai3eAppBox}</p>&nbsp;&nbsp;<span class="grey-context">[ Optional ]</span>&nbsp;<span class="grey-context">Include your Application ID so that we can send your result to you.</span></p>
		<p class="medium-text v-thin-line">{$profileForm.ai3eRankLabel}{$profileForm.ai3eRankBox}&nbsp;&nbsp;<span class="grey-context">[ Optional ]</span>&nbsp;<span class="grey-context">Enter the score which you think you will obtain (used to calculate your chances for a course).</span></p>
		<hr />
		<p class="medium-text v-thin-line">{$profileForm.cetAppLabel}{$profileForm.cetAppBox}&nbsp;&nbsp;<span class="grey-context">[ Optional ]</span>&nbsp;<span class="grey-context">Include your Application ID so that we can send your result to you.</span></p>
		<p class="medium-text v-thin-line">{$profileForm.cetRankLabel}{$profileForm.cetRankBox}[ Optional ]</span>&nbsp;<span class="grey-context">Enter the score which you think you will obtain (used to calculate your chances for a course).</span></p>
		<p class="medium-text">{$profileForm.submit}</p>
		{$profileForm.formClose}
	</div>
</div>