<div class="floatr">
	<div id="center" class="column"><img src="{php}echo base_url();{/php}images/logo-only.jpg" width="176" height="270" alt="" />
		<div id="v-thin-line ">
			<h1>My Profile</h1>
			<hr />
			<p class="medium-text" id="v-thin-line">Username: <span class="med-field">pareshdhake@googlemail.com</span> <span class="grey-context">[<a href="#">Change</a> ]</span></p>
			<p class="medium-text" id="v-thin-line">Change password: 
				<input type="text" name="ss2" id="ss2" />
			</p>
			<p class="medium-text" id="v-thin-line">Type changed password again: 
				<input type="text" name="ss3" id="ss3" />
			</p>
			<p class="medium-text" id="v-thin-line">Mobile Number: <span class="med-field">99701788679</span> <span class="grey-context">[<a href="#">Change</a> ]</span></p>
			<hr />
			<p class="medium-text" id="v-thin-line">Your Name:
				<input type="text" name="ss9" id="ss9" />
			</p>
			<p class="medium-text" id="v-thin-line">Surname:
				<input type="text" name="ss10" id="ss10" />
			</p>
			<p class="medium-text" id="v-thin-line">Your category: <span class="med-field">Open</span> <span class="grey-context">[<a href="#">Change</a> ]</span></p>
			<hr />
			<p class="medium-text" id="v-thin-line">MHT-CET application number: 
				<input type="text" name="ss" id="ss" />
			</p>
			<p class="medium-text" id="v-thin-line">Projected CET score: 
				<input type="text" name="ss4" id="ss4" />
			</p>
			<p class="medium-text" id="v-thin-line">Projected CET rank: 
				<input type="text" name="ss5" id="ss5" />
			</p>
			<hr />
			<p class="medium-text" id="v-thin-line">AIEEE application number: 
				<input type="text" name="ss6" id="ss6" />
			</p>
			<p class="medium-text" id="v-thin-line">Projected AIEEE score: 
				<input type="text" name="ss7" id="ss7" />
			</p>
			<p class="medium-text" id="v-thin-line">Projected AIEEE rank: 
				<input type="text" name="ss8" id="ss8" />
			</p>
			<p class="medium-text">
				<label>
					<input type="submit" name="Submit Changes" id="Submit Changes" value="Submit changes" />
				</label>
			</p>
		</div>
	</div>
</div>