<div id="doc3" class="yui-t3">
	<div id="hd" role="banner">
		
	</div>
	<div id="bd" role="main">
		<div id="yui-main">
			<div class="yui-b">
				<div class="yui-gc">
					<div class="yui-u first">
	
<div class="floatr">
  <div id="center" class="column"><img src="{php}echo base_url();{/php}images/logo-only.jpg" width="176" height="270">
<div id="v-thin-line ">
  	<h1>My saved searches</h1>
  	 	
  		<div id="v-thin-line">
  		<p class="grey-context">Saved on Monday, May 5, 2009 at 2:30 PM</p>
  		<p class="medium-text"><a>Mumbai University | All Districts | Automobile Engineering, Mechanical Engineering</a></p> 
  		</div>
  		
  </div></div></div>
					</div>
					<div class="yui-u">
					    <div align="center"><img style="float:none;" src="{php}echo base_url();{/php}/images/local-ad-example-temp.jpg" /></div>
						    <div id="v-thin-line" class="large-context">Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
						    Ut auctor. Nunc in felis ac augue dapibus consequat. Nullam consequat, dolor non gravida malesuada,
						    orci nisi sagittis tortor, at scelerisque magna risus nec lacus. Nulla viverra sapien id dolor.
						    Suspendisse potenti. Mauris non velit. Pellentesque et dui. Donec ut quam nec erat fermentum ultricies.
						    Aenean fringilla. Proin at massa sed tortor iaculis fermentum. Proin nibh lacus, consequat ut,
						    scelerisque ac, malesuada hendrerit, diam. Sed vehicula justo in dui tempor rutrum.
						    Maecenas venenatis dictum tortor. Integer porta ornare justo.
						
						    Aliquam pretium, nisi vel rutrum porttitor, ipsum justo gravida odio, mollis bibendum tellus urna ut lorem.
						    Praesent leo risus, ultricies eget, interdum eget, pretium consequat, mi. Sed turpis massa, porttitor non,
						    semper eget, sollicitudin eget, nisi. Mauris id sem. Sed ornare purus ut nulla. Donec ac metus et dui
						    sagittis dapibus. Fusce vitae sem. Mauris pretium ultricies quam. Mauris semper pretium nisl.
						    Aliquam consectetur enim at turpis. Sed luctus nulla sit amet diam. Proin posuere risus ut nisi.
						    Nam in diam. Suspendisse blandit ultricies urna. In hac habitasse platea dictumst. Nam erat.
						    Aenean semper dui sed lectus.
						
						    Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.
						    In odio lacus, venenatis nec, accumsan sed, blandit et, lectus. Nunc pulvinar, sem id iaculis sodales,
						    tellus est tristique erat, faucibus volutpat velit tellus vitae justo. Class aptent taciti sociosqu ad
						    litora torquent per conubia nostra, p
						    </div>
						</div>
					</div>
				</div>
			</div>
			<div class="yui-b">
				<img src="http://localhost/collegekhabri/trunk/prototypes/images/sidebar-temp.jpg" /> 
			</div>
		</div>
	</div>
	<div id="ft" role="contentinfo"><p>Footer</p></div>






