<div id="center">
	<table width="100%" border="1" cellpadding="1" cellspacing="0" bordercolor="#CCCCCC" summary="layout table">
		<tr>
			<td width="35%" class="modify-search medium-text"><a href="#">Modify your search</a>&nbsp;&#187;</td>
			<td width="65%" class="basic-text">
				<div align="left">Mumbai University | All Districts | Automobile Engineering, Mechanical 
					Engineering</div>
			</td>
		</tr>
	</table>
	<h1>Search Results:</h1>
	<span class="grey-context">(Click on a <em><a href="#">college name</a></em> or <em><a href="#">code</a></em> for detailed information)</span>
	<br />
	<br />
	<table width="100%" border="0" id="search-table" summary="layout table">
		<tr>
			<img align="right" src="{php}echo base_url();{/php}images/save-this-search.jpg" alt="" />
		</tr>
		<tr class="sort-back">
			<td width="10%" style="padding:0px;border:0;">
				<div align="center"><strong>Choice code</strong></div>
			</td>
			<td width="18%" style="padding:0px;border:0;">
				<div align="center"><a href="#"><strong>Course</strong></a>&#x2193;</div>
			</td>
			<td width="25%" style="padding:0px;border:0;">
				<div align="center"><a href="#"><strong>College Name</strong></a>&#x2193;</div>
			</td>
			<td width="16%" style="padding:0px;border:0;">
				<div align="center"><a href="#"><strong>District</strong></a>&#x2193;</div>
			</td>
			<td width="9%" style="padding:0px;border:0;">
				<div align="center"><a href="#"><strong>Fees</strong></a>&#x2193;</div>
			</td>
			<td width="14%" style="padding:0px;border:0;">
				<div align="center"><strong><a href="#">Popularity rank</a></strong>&#x2193;</div>
			</td>
			<td width="17%" style="padding:0px;border:0;">
				<div align="center"><a href="#"><strong>CET cut-off</strong></a>&#x2193;</div>
			</td>
			<td width="16%" style="padding:0px;border:0;">
				<div align="center"><strong>Your chances</strong></div>
			</td>
		</tr>
		{foreach from=$results item='choicecode'}
		<tr>
			<td>
				<span class="inst-code">
					<a onclick="YAHOO.collegekhabri.frame.src='{php}echo site_url(){/php}/info/institute_info/{$choicecode->iname|escape:"url"}/false';YAHOO.collegekhabri.collegeInfo.show()">{$choicecode->code}</a>
				</span>
			</td>
			<td class="basic-text search-results-small">
				<span class="basic-text">
					<strong>
						<a onclick="YAHOO.collegekhabri.frame.src='{php}echo site_url(){/php}/info/choicecode_info/{$choicecode->iname|escape:"url"}/false';YAHOO.collegekhabri.collegeInfo.show()">{$choicecode->cname}</a>
					</strong>
				</span>
			</td>
			<td class="basic-text search-results-small">
				<a onclick="YAHOO.collegekhabri.frame.src='{php}echo site_url(){/php}/info/choicecode_info/{$choicecode->iname|escape:"url"}/false';YAHOO.collegekhabri.collegeInfo.show()">{$choicecode->iname}</a>
			</td>
			<td class="basic-text">
				<div align="left">{$choicecode->district}</div>
			</td>
			<td class="basic-text">
				<div align="left"><strong>{$choicecode->total_fee}</strong></div>
			</td>
			<td>
				<div align="center"><span class="small-box"><span title="Popularity Rank of the college">003</span></span></div>
			</td>
			<td class="cut-off">
				<div align="center">160</div>
			</td>
			<td>
				<table width="100%" align="right" summary="layout table" style="background-color:#dfdfdf; border: 1px solid #cdcdcd;">
					<tr">
						<td width="10%" class="small-text" style="border:0;">Medium</td>
						<td width="90%" style="border:0;">
							<div class="green-bar" style="width:100%">&nbsp;</div>
						</td>
					</tr>
				</table>
			</td>
		</tr>
		{/foreach} 
		<tr class="sort-back">
			<td width="10%" style="padding:0px;border:0;">
				<div align="center"><strong>Choice code</strong></div>
			</td>
			<td width="25%" style="padding:0px;border:0;">
				<div align="center"><a href="#"><strong>Course</strong></a>&#x2193;</div>
			</td>
			<td width="25%" style="padding:0px;border:0;">
				<div align="center"><a href="#"><strong>College Name</strong></a>&#x2193;</div>
			</td>
			<td width="16%" style="padding:0px;border:0;">
				<div align="center"><a href="#"><strong>District</strong></a>&#x2193;</div>
			</td>
			<td width="9%" style="padding:0px;border:0;">
				<div align="center"><a href="#"><strong>Fees</strong></a>&#x2193;</div>
			</td>
			<td width="14%" style="padding:0px;border:0;">
				<div align="center"><strong><a href="#">Popularity rank</a></strong>&#x2193;</div>
			</td>
			<td width="10%" style="padding:0px;border:0;">
				<div align="center"><a href="#"><strong>CET cut-off</strong></a>&#x2193;</div>
			</td>
			<td width="16%" style="padding:0px;border:0;">
				<div align="center"><strong>Your chances</strong></div>
			</td>
		</tr>
		<tr>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td><img align="right" src="{php}echo base_url();{/php}images/save-this-search.jpg" alt="" /></td>
		</tr>
	</table>
</div>

<div id="collegeInfo">
   <div class="hd">College Information</div>
    <div class="bd"></div>
    <div class="ft"></div>
</div>
{literal}
<script type="text/javascript">
    YAHOO.namespace('collegekhabri');
    YAHOO.collegekhabri.frame = document.createElement('iframe');
	YAHOO.collegekhabri.frame.width = "100%";
	YAHOO.collegekhabri.frame.height = "480";

    YAHOO.collegekhabri.collegeInfo = new YAHOO.widget.Dialog("collegeInfo", {
	width : "800px",
	fixedcenter : true,
	visible : false,
	close: true,
	y: 25,
	draggable: true,
	modal: true,
	postmethod: 'form',
	constraintoviewport : false});
	YAHOO.util.Event.addListener('closeImg', 'click', function(o){YAHOO.collegekhabri.collegeInfo.hide()});
	YAHOO.collegekhabri.collegeInfo.render();

	var onCollegeInfoShow = function(e, args, o){
		o.setBody(YAHOO.collegekhabri.frame);
	};
	YAHOO.collegekhabri.collegeInfo.showEvent.subscribe(onCollegeInfoShow, YAHOO.collegekhabri.collegeInfo);
</script>
{/literal}