<html>
<head>
<title>{$title}</title>
</head>
<body>

<img src="{php} echo base_url() . 'images/logo.jpg';{/php}">
{php}
  echo form_open('welcome/search');
  echo form_dropdown('priority', array('high' => 'high', 'medium' => 'medium', 'low' => 'low' ), 'medium');
  echo form_close();
{/php}
<hr>
{include file="$template"}
<hr>
&copy; Copyright {php} echo date('Y'); {/php} College Khabri<br>
{php} echo anchor('welcome/terms-of-use','terms of use');{/php} |
{php} echo anchor('welcome/privacy-policy','privacy policy');{/php} |
{php} echo anchor('welcome/contact-us','contact us');{/php}
</body>
</html>

