<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title>{$title|default:'Welcome to College Khabri'}</title>
        <script type="text/javascript" src="{php}echo base_url(){/php}js/default.js"></script>
        <script type="text/javascript" src="{php}echo base_url(){/php}js/yui/yahoo-dom-event/yahoo-dom-event.js"></script>
        <script type="text/javascript" src="{php}echo base_url(){/php}js/yui/dragdrop/dragdrop-min.js"></script>
        <script type="text/javascript" src="{php}echo base_url(){/php}js/yui/container/container-min.js"></script>
        <script type="text/javascript" src="{php}echo base_url(){/php}js/yui/element/element-min.js"></script>
        <script type="text/javascript" src="{php}echo base_url(){/php}js/yui/tabview/tabview-min.js"></script>
        <link media="all" type="text/css" rel="stylesheet" href="{php}echo base_url(){/php}css/style.css"/>
        <link rel="stylesheet" type="text/css" href="{php}echo base_url(){/php}js/yui/assets/skins/sam/container.css">
        <link rel="stylesheet" type="text/css" href="{php}echo base_url(){/php}js/yui/tabview/assets/skins/sam/tabview.css">
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    </head>
    <body class="yui-skin-sam" style="margin:0; background:#ffffff url({php}echo base_url(){/php}images/back-main-college-khabri.jpg) left top repeat-x;">
    	
          
    {$searchForm.formOpen}
    <div align="right" class="style11 top-login">
        {$searchForm.stateLabel}:&nbsp;{$searchForm.stateSelect} &nbsp;&nbsp;
        {$searchForm.careerLabel}:&nbsp;{$searchForm.careerSelect}
    </div>
    <div class="top-login style14" align="right">       
            {php} echo anchor('welcome/login','Login');{/php} /
            {php} echo anchor('welcome/signup','Register');{/php}
        </div>
        <div align="center">
            <p><img src="{php}echo base_url(){/php}/images/logo.jpg" style="margin:-82px 0 0 0;float:none;"/></p>
        </div>

        <div id="main-container">
            {include file="$template"}
        </div>
        <div id="footer-wrapper">
            <div id="footer" align="center"> <hr size="1" width="50%" noshade="noshade" />
            <div class="style5">&copy; Copyright {$smarty.now|date_format:"%Y"} College Khabri<br/></div>
                <span class="small-text">{php} echo anchor('welcome/terms_of_use','terms of use');{/php} |
                    {php} echo anchor('welcome/privacy_policy','privacy policy');{/php} |
            {php} echo anchor('welcome/contact_us','contact us');{/php}</span></div>
        </div>
    </body>
</html>