<div class="main-search-div" style="width:700px">
	<div id="center" class="basic-text">
		<h1>Terms and Conditions </h1>
		<p>Privacy Policy – Please refer to our {php} echo 
			anchor('info/privacy_policy','privacy policy');{/php} </p>
		<p>&nbsp;</p>
		<p class="grey-context">Electronic Communication</p>
		<p>When you communicate with us through website or through emails, we will send 
			replies electronically. You agree to receive such communication. Your further agree 
			to publishing parts of your communication on website for the usage of other 
			members. </p>
		<p>&nbsp;</p>
		<p class="grey-context">Copyright</p>
		<p>All the content included on this website is property of Edubrain Learning 
			Resources or its suppliers protected by Indian and International copyright laws.</p>
		<p>&nbsp;</p>
		<p class="grey-context">License</p>
		<p>Edubrain Learning Resources grants you a limited license to access and make 
			personal use of this site and not to download (other than page caching) or modify 
			it, or any portion of it, except with express written consent of Edubrain Learning 
			Resources. This license does not include any resale or commercial use of this 
			site or its contents; any collection and use of any product listings, 
			descriptions, or prices; any derivative use of this site or its contents; any downloading or 
			copying of account information for the benefit of another merchant; or any use 
			of data mining, robots, or similar data gathering and extraction tools. This site 
			or any portion of this site may not be reproduced, duplicated, copied, sold, 
			resold, visited, or otherwise exploited for any commercial purpose without express 
			written consent of Edubrain Learning Resources. You may not frame or utilize 
			framing techniques to enclose any trademark, logo, or other proprietary information 
			(including images, text, page layout, or form) of CollegeKhabri.com without 
			express written consent. You may not use any meta tags or any other &quot;hidden 
			text&quot; utilizing CollegeKhabri.com's name or trademarks without the express 
			written consent of Edubrain Learning Resources. Any unauthorized use terminates the 
			permission or license granted by Edubrain Learning Resources. You may not use 
			any CollegeKhabri.com logo or other proprietary graphic or trademark as part of 
			the link without express written permission. </p>
		<p>&nbsp;</p>
		<p><span class="grey-context">Termination of Membership</span></p>
		<p>Membership may be terminated by Edubrain Learning Resources by serving an email. 
			Edubrain Learning Resources reserves the right to terminate the membership, to 
			suspend a profile or to disable access in respect of any member in breach of any 
			of the terms. </p>
		<p>&nbsp;</p>
		<p class="grey-context">Role in admission process</p>
		<p>Edubrain Learning Resources is not involved in admission process except for 
			providing the students with important information. This information is collected 
			from DTE, AICTE, Shikshan Shulka Samiti and college websites. Edubrain is not 
			responsible for authenticity of this information.</p>
		<p>CollegeKhabri.com helps in decision making. The option form is generated based 
			on user’s profile and responsibility of providing correct information lies with 
			the user. Methodology followed by CollegeKhabri.com to generate the Option form, 
			predict the cut off, generate the list of popular college or any other such 
			analysis is provided under the <u>Methodology section</u>. The onus of taking final decision lies with the users and Edubrain is not 
			responsible for the decision. Edubrain will not be liable or held responsible for 
			damages arising from usage of the website.</p>
		<p><br />
		</p>
		<p class="grey-context">Membership</p>
		<p>There are 3 types of members on CollegeKhabri.com – </p>
		<ol>
			<ol type="1">
				<li>Free Member – They can use this website with limited access to certain 
					functionalities.</li>
				<li>Registered Member – They can use this website with more relevant and 
					personalized information than free users, but they will have limited access to the 
					functionality.</li>
				<li>Premium Members – They have full access to all the available functionality on 
					the website.</li>
			</ol>
		</ol>
		<p>Premium membership is subject to receipt of charges by Edubrain. Edubrain 
			reserves the right to deny membership. The members of the website are bound by the <u>privacy policy </u>and Terms and conditions.</p>
		<p>Your membership is only for personal use. You may not authorize another person 
			to use your account. You cannot transfer your membership to another person.</p>
		<p>You are a member of this site so far as CollegeKhabri.com discharges its 
			obligation to you by rendering its services to you OR terminates your membership.</p>
	</div>
</div>
