{literal}
<style>
	select, button, textarea {font-size:90%;width:140px;}
	.cut-off {font-size:11pt;}
	.search-button {font-size:medium;height:31px;width:120px;}
	#hd, #bd, #ft, .yui-g, .yui-gb, .yui-gc, .yui-gd, .yui-ge, .yui-gf 
	{margin-left:9px;}
</style>
{/literal}
<br />
<hr />
<br />
{$searchForm.formOpen}
<div>
	<p align="left" style="font-family:Arial, Helvetica, sans-serif;font-weight:bold;font-size:14pt;letter-spacing:-1px;margin-top:0;">Search again</p>
	<div id="less-details-options">
		<br />
		<div align="left"><a class="small-link" onclick="this.parentNode.parentNode.style.display='none';getElementById('less-details-search').style.display='block'">Search by typing the name of the college?</a></div>
		<br />
		<span class="cut-off">{$searchForm.universityLabel}</span><br />
		<div>
			<table width="100%" summary="layout table">
				<tbody>
					<tr>
						<td valign="top">
							<span>
								{$searchForm.universitySelect}
							</span>
						</td>
						<td valign="top">
							<a title="Add to search colleges or courses in two or more universities" class="small-link" onclick="addOption('universities')">[+]</a><br />
						</td>
					</tr>
				</tbody>
			</table>
		</div>
		<br/>
		<span class="cut-off">{$searchForm.districtLabel}</span>
		<div>
			<table width="100%" summary="layout table">
				<tbody>
					<tr>
						<td valign="top">
							<span>
								{$searchForm.districtSelect}
							</span>
						</td>
						<td valign="top">
							<a title="Click here to include another district like 'Thane' in the search" class="small-link" onclick="addOption('districts')">[+]</a><br />
							<br />
						</td>
					</tr>
				</tbody>
			</table>
		</div>
		<!-- 
		<div id="coursegroup_selection_div" style="display:none">
		<span class="cut-off">{$searchForm.coursegroupLabel}</span>
		<div>
		<table width="100%" summary="layout table">
		<tbody>
		<tr>
		<td valign="top"> 
		<span>
		{$searchForm.coursegroupSelect}
		</span>
		</td>
		<td valign="top">
		&nbsp;<a title="Add to search two or more course groups; Eg. (1) Electronics + 
		Instrumentation & Control + Electrical" class="small-link" 
		onclick="addOption('coursegroups')">[+] </a><br />
		<br />
		</td>
		</tr>
		</tbody>
		</table>
		</div>
		<br />
		<br />
		<a title="If you want know the exact course to search, Eg. B. Tech Mechanical 
		or B.E Electrical Engg." class="small-link" 
		onclick="this.parentNode.style.display='none';getElementById('course_selection_div').style.display='block'">Search by 
		specific course?</a>
		</div>
		-->
		<div id="course_selection_div">
			<span class="cut-off">{$searchForm.coursesLabel}</span>
			<div>
				<table width="100%" summary="layout table">
					<tbody>
						<tr>
							<td valign="top"> 
								<span>{$searchForm.coursesSelect}</span>
							</td>
							<td valign="top"> 
								&nbsp;<a title="Add to search two or more courses, Eg. Automobile + Mechanical" class="small-link" onclick="addOption('courses')">[+] </a> <br />
							</td>
						</tr>
					</tbody>
				</table>
				<!-- <a title="If you want to search all colleges under one group, Eg. 
				Mechanical or Electrical" class="small-link" 
				onclick="this.parentNode.style.display='none';getElementById('coursegroup_selection_div').style.display='block'">Search by a 
				course group?</a><br />
				-->
			</div>
		</div>
		<br/>
		<span class="cut-off">Last year's cut-off</span>
		<div>
			<table width="100%" summary="layout table">
				<tbody>
					<tr>
						<td valign="top"> 
							<div>
								{$searchForm.cetCutoffRadio}{$searchForm.cetCutoffLabel}<br />
								{$searchForm.aieeeCutoffRadio}{$searchForm.aieeeCutoffLabel}
							</div>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>
<div id="less-details-search" style="display:none;">
	<span class="cut-off">{$searchForm.searchLabel}</span><br />
	<br />
	{$searchForm.searchBox}<br />
	<br />
	<span class="grey-context">Eg. <em>Vidyalankar Institute of Technology</em></span><br />
	<br />
	<br />
	<a class="small-link" onclick="this.parentNode.style.display='none';getElementById('less-details-options').style.display='block'">Search by selecting options</a><br />
</div>
<hr />
<div id="more-details">
	<span class="cut-off">{$searchForm.aidLabel}</span><br />
	{$searchForm.aidSelect}
	<br />
	<br />
	<span class="cut-off">{$searchForm.minorityLabel}</span><br />
	{$searchForm.minoritySelect}
	<br />
	<br />
	<span class="cut-off">{$searchForm.autonomyLabel}</span><br />
	{$searchForm.autonomySelect}
	<span class="cut-off">{$searchForm.hostelLabel}</span><br />
	{$searchForm.hostelSelect}
	<br />
	<br />
	<span class="cut-off">{$searchForm.establishmentLabel}</span><br />
	{$searchForm.establishmentSelect}
	<br />
	<br />
	<span class="cut-off">{$searchForm.feesLabel}</span><br />
	{$searchForm.feesSelect}
	<br />
	<br />
	<div>{$searchForm.ladiesCheckBox}&nbsp;{$searchForm.ladiesCheckLabel}</div>
	<div class="medium-text"></div>
	<br />
</div>
<div align="right">{$searchForm.submit}</div>
{$searchForm.formClose}
{$searchForm.acjs} 