<link href="../../../css/style.css" rel="stylesheet" type="text/css" />
<div id="center" class="basic-text">
  <h1>Contact details</h1><br/><br/>


<p class="cut-off"> Edubrain Learning Resources</p>
<p class="cut-off">&nbsp;</p>
<p><span class="itl">Postal Address:</span></p>
<p><span class="med-field">6, Laxmijit, New D.P. Road, </span></p>
<p class="med-field grey-line-below">Aundh, Pune - 411007  </p>
<p class="itl">Email: </p>
<p class="med-field grey-line-below"><a href="mailto:contact@collegekhabri.com">contact@collegekhabri.com  </a></p>
<p class="itl">Phones: </p>
<p class="med-field ">9923049395</p>
<p class="med-field grey-line-below">9923348893 </p>
</div>