<div id="center" class="floatr">
	<img src="{php}echo base_url();{/php}/images/what-is-engg.gif" alt="Just what is Engineering?" />
	<div id="v-thin-line">
		<h1>Just what is Engineering?</h1>
	</div>
	<p class="grey-context itl">Engineering is all around us, so people often take it for granted, like air and 
			water. Ask yourself, what do I touch that is not engineered? </p>
	<p class="grey-context itl">Engineers build the networks of highways, air and rail travel, and the Internet, 
			mass produce antibiotics, create artificial heart valves, build lasers, and 
			offer conveniences like microwave ovens and compact discs, television sets, cars, 
			video games, even make-up. </p>
			
	<p class="grey-context itl">Just look around at the things that make your life interesting, comfortable, and 
			fun. In short, engineers make our life better.
			Engineers are the people who make things work, who imagine, design, and create. 
			Engineers are also inventors, developers of new products and ways of doing 
			business. </p><br />
	</p>
	<div id="v-thin-line"> 
		<h2>Your Alarm Clock Is an Example</h2>
		
		<p><span class="medium-text">Virtually everything around you was designed by engineers to meet certain 
				specifications. Take the start of your day, for example. </span></p>
		<p><span class="medium-text">You probably wake up to a battery-powered alarm clock. Every design feature of 
				the clock was carefully considered to meet detailed specifications. The alarm was 
				designed to be loud enough to wake you up but not so loud as to frighten you. It 
				may even have a feature in which the sound level starts very low and increases 
				progressively until you wake up. <img id="top-small-border" src="{php}echo base_url();{/php}/images/alarm-clock.jpg" alt="High Performance Materials" />The digital display on your clock was designed 
				to be visible day and night. The batteries were designed to meet life, safety, 
				and reliability requirements. Economic considerations dictated material selection 
				and manufacturing processes. The clock also had to look aesthetically pleasing 
				to attract customers, while maintaining its structural integrity under impact 
				loading, such as falling off table.</span></p>
		<p><span class="medium-text">How many of the 20th century's greatest engineering achievements do you use 
				today? A car? Computer? Telephone? Look at the engineering achievements of 20th 
				century (takes you to another page) and learn how engineering shaped a century and 
				changed the world. </span></p>
	</div>
	<div id="v-thin-line"> 
		<h2>Understand stream / branch that fits your interest</h2>
		<img id="top-small-border" src="{php}echo base_url();{/php}/images/all-tech-branches.jpg" alt="High Performance Materials" />
		<ul>
			<li><span class="medium-text"><a href="#">Aerospace Engineering</a></span></li>
			<li><span class="medium-text"> <a href="#">Agricultural Engineering</a></span></li>
			<li><span class="medium-text"><a href="#"> Structural Engineering
					</a></span></li>
			<li><span class="medium-text"><a href="#">Bioengineering/Biomedical</a></span><a href="#"><span class="medium-text"> Engineering</span></a></li>
			<li><span class="medium-text"> <a href="#">Chemical Engineering</a></span></li>
			<li><span class="medium-text"> <a href="#">Civil Engineering</a></span></li>
			<li><span class="medium-text"> <a href="#">Computer/Software Engineering</a></span></li>
			<li><span class="medium-text"> <a href="#">Electrical Engineering</a></span></li>
			<li><span class="medium-text"> <a href="#">Environmental Engineering</a></span></li>
			<li><span class="medium-text"> <a href="#">Industrial Engineering</a></span></li>
			<li><span class="medium-text"> <a href="#">Production Engineering</a></span></li>
			<li><span class="medium-text"><a href="#"> Mechanical Engineering</a></span></li>
			<li><span class="medium-text"><a href="#"> Metallurgy and Materials Engineering</a></span></li>
			<li><span class="medium-text"> <a href="#">Mining Engineering </a></span></li>
		</ul>
	</div>
</div>