@charset "utf-8";
/* CSS Document */

body {min-width: 630px; background-color:#FFFFFF; margin:0; }

body.blue-shade {background: #ffffff url(../images/main-background.jpg) left top repeat-x;}
#container {
    padding-left: 200px;   /* LC fullwidth */
    padding-right: 260px;  /* RC fullwidth + CC padding */
}
#container .column {
    position: relative;
    float: left;
    overflow: hidden;
    padding-bottom: 210px;  /* X + padding-bottom */
    margin-bottom: -200px;  /* X */

}
#center {
    padding: 10px 5px;    /* CC padding */
    border-top:4px solid #000000;
    border-right:1px solid #CCCCCC;
    border-left:2px solid #CCCCCC
}
#left {
    width: 180px;          /* LC width */
    padding: 0 10px;       /* LC padding */
    right: 240px;          /* LC fullwidth + CC padding */
    margin-left: -100%;
}
#right {
    width: 200px;          /* RC width */
    padding: 0 10px;       /* RC padding */
    margin-right: -360px;  /* RC fullwidth + CC padding */

}
#footer {
    clear: both;
    position: relative;
    margin: 75px 5px 3px 5px;
}
* html #left {
    left: 200px;           /* RC width */
}

* html body {
    overflow: hidden;
}
* html #footer-wrapper {
    float: left;
    position: relative;
    width: 100%;
    padding-bottom: 110px;
    margin-bottom: -100px;
    background: #fff;         /* Same as body
    background */
}

img {border:0 none;}

a:visited {text-decoration:underline;}
a:hover {color:#0000ca;text-decoration:underline; background-color:#e4e4e4; cursor: pointer; cursor: hand; }
a:active {color:#0000ca;text-decoration:underline;background-color:#e4e4e4;}
a {text-decoration:underline;color:#000085;}

h1 {
    font-family: Geneva, Arial, Helvetica, sans-serif;
    font-size:24px;
    font-weight:bold;
    margin:0;
    padding:3px;
    letter-spacing:-1px;
    color: #44a0e1;
}

h2 {
    font-family: Georgia, "Times New Roman", Times, serif;
    font-size: large;
    font-weight: bold;color:#5C5C5C;
}

p {padding-bottom: 10px;padding-top: 10px;}

li {border-top: 1px dotted #E8E8E8; padding:0 2px; list-style:disc; margin-left:20px;}


.grey-context {font-size: small; margin: 0; padding: 3px; font-family: Georgia, "Times New Roman", Times, serif; color: #666666; }

.v-thin-line {border-bottom:1px dotted #44a0e1;padding-bottom:5px;margin-top:9px;}

#navcontainer {
    border-bottom:1px solid #000000;
    font-family:arial,helvetica,sans-serif;
    margin:10px 0 10px 0;
    padding:0 0 0;
    text-align:right;
}

ul#navlist {
    background-color:#000000;
    font-size:12px;
    list-style-image:none;
    list-style-position:outside;
    list-style-type:none;
    margin:0;
    padding:0;
}

ul#navlist li.home {
    border-left:medium none;
}
html > body ul#navlist li {
    width:90px;
}
ul#navlist li {
    voice-family:inherit;
    width:104px;
}
ul#navlist li {
    background-color:#000000;
    border-left:1px solid #CCCCCC;
    float:left;
    height:45px;
    margin:0 1px 0 1px;
    padding:0;
    text-align:left;
}

#navcontainer > ul#navlist li a {
    height:auto;
    width:auto;
}

ul#navlist li a:hover, ul#navlist li#active a:hover {
    background-color:#C13447;
    color:#FFFFFF;
    height:13px;
}

ul#navlist li a {
    color:#CCCCCC;
    display:block;
    font-size:11px;
    height:1%;
    padding:7px 5px 25px 7px;
    text-decoration:none;
    text-shadow:0 0 0 #000000;
}

.basic-text {font-size: small; font-family: Arial, Helvetica, sans-serif; }
.large-context {font-size: small; font-family: Georgia, "Times New Roman", Times, serif; margin: 0; padding: 3px; color: #666666; font-weight: bold; }
.medium-text {font-size: medium; font-family: Arial, Helvetica, sans-serif;color:#232323;font-size:10pt;line-height:15pt; }
.black-context {font-size: large;font-family: Georgia, "Times New Roman", Times, serif; }

.small-box{ margin:2px;padding:6px 36px 15px 8px;background: transparent url(../images/small-lred-box.gif) left top no-repeat; width: 40px; height:38px; font-family:Arial, Helvetica, sans-serif; color:#FFFFFF;font-weight:bold;size:10px;cursor: default;text-align:center;}

#top-small-border { border-top:3px solid black; float:right;}

.sort-back {background:#c13447 url(../images/sort-row-back.jpg) repeat-x left top; font-family:Geneva, Arial, Helvetica, sans-serif; font-size:small; font-weight:bold; color:#000000; height:23px; }

#search-table { }

#search-table td { padding: 14px 3px; border-bottom: 1px dashed #cdcdcd;}

.inst-code {border: 1px dashed #c13447; font-size:small; font-family:verdana; background-color:#e5f4ff; padding:1px;}

.search-results-small {font-size: 10pt; font-family: Geneva, Arial, Helvetica, sans-serif; color: #030303; background-image:url(../images/light-red-stripes.gif); border-top:1px solid #e0e0e0; border-bottom:1px solid #e0e0e0;padding:2px;}

.cut-off {font-size: 13pt; font-family: Arial, Helvetica, sans-serif; font-weight: bold; color: #c13447;}

.small-text {font-size: x-small; font-family: Arial, Helvetica, sans-serif;}

.top-login {padding: 6px 6px 0 0; float:right; }

.main-search-div {width:795px; height:auto;margin:auto;font-family:Arial, Helvetica, sans-serif;padding:25px; border: 1px solid #bbbbbb;}

.small-link {font-family:Arial,Helvetica,sans-serif;font-size:small; text-decoration:underline;}

.grey-line-below {border-bottom: 2px solid #e5e5e5; padding: 0 0 10px 0;}

.top-logo {padding:4px;background: transparent url(../images/big-logo.png) left top no-repeat; width:276px; height:150px; margin:auto;}

.main-logo {padding:4px;background: transparent url(../images/main-logo.png) left top no-repeat; width:159px; height:86px; margin:auto;}

.left-float {float:left; margin:3px 3px 3px 30px;padding:20px;width:40%;}

.right-float {float:right; margin: 3px 30px 3px 3px; padding:2px;width:543px;}

.big-field {width: 100%;}

.med-field {width: 85%; font-size:larger;}

.right-border {border-right: 2px solid #cccccc;}

.search-button { font-weight:bold; height:50px; width:120px; font-size:larger;}

.medium-button { font-weight:bold; height:30px; width:80px; font-size:larger;}

.modify-search {background-color: #dddddd; color:#990000; font-weight:bold;}

.floatr {}

.floatr img {float:right;}

.green-bar {border: 1px solid #333333; height:10px; background: red url(../images/bar-stripe.png);}

.error {padding:2px; color:red; background-color: #fff1f1;font-weight: bold;}

.yui-skin-sam .yuimenubaritemlabel { border-style:hidden;margin:0;}

.yui-skin-sam .yuimenubarnav .yuimenubaritemlabel-hassubmenu {font-family:arial,helvetica,clean,sans-serif; font-size:112%;}

.yui-skin-sam .yuimenuitem {font-size:110%;}

.sm-icon {padding: 0px 2px;}

.yui-skin-sam .yuimenuitemlabel {padding:7px 12px 4px;}

.itl {font-style: italic;}; 

.yuimenubar li, .yuimenu li {border-top:0;}

.yui-skin-sam .yuimenubar {background: transparent url(../images/grey-stripes.png) repeat scroll 0 0;}

.yui-t2 #yui-main .yui-b {min-width:900px;}

#hd, #bd, #ft, .yui-g, .yui-gb, .yui-gc, .yui-gd, .yui-ge, .yui-gf {margin-left:0;}

.yui-gc div.first, .yui-gd .yui-u {width:70%;}

.yui-gb .yui-u, .yui-g .yui-gb .yui-u, .yui-gb .yui-g, .yui-gb .yui-gb, .yui-gb .yui-gc, .yui-gb .yui-gd, .yui-gb .yui-ge, .yui-gb .yui-gf, .yui-gc .yui-u, .yui-gc .yui-g, .yui-gd .yui-u {width:28%;}



