<div id="center" class="floatr">
	<div id="v-thin-line">
		<h1>Civil Engineering</h1>
		<div class="large-context">
          <ul>
            <li><a href="#Overview">Overview</a></li>
            <li><a href="#DayintheLife">Day in the Life</a></li>
            <li><a href="#JobDuties">Job Duties</a></li>
            <li><a href="#TheWorkplace">The Workplace </a></li>
            <li><a href="#Teams">Teams and Coworkers</a></li>
            <li><a href="#Teams">Employment</a> </li>
            <li><a href="#Employment">Career Path Forecast </a></li>
          </ul>
	  </div>
		<p>Overview<a name="Overview" id="Overview"></a></p>
  <div class="medium-text">
			<p>From the pyramids of Egypt to the international space station, civil engineers 
				have always faced the challenges of the future - advancing civilization and 
				building our quality of life. 
				Today, the world is undergoing vast changes -- the technological revolution, 
				population growth, environmental concerns, and more. All create unique 
				challenges 
				for civil engineers of every specialty. 
				The next decades will be the most creative, demanding, and rewarding of times 
				for civil engineers, and now is the best time to find the right career for you. 
		  Civil engineers are in the forefront of technology.</p>
			<p>They are the leading users of sophisticated high-tech products - applying the 
				very latest concepts in computer-aided design (CAD) during design, 
				construction, 
				project scheduling, and cost control.&nbsp;Civil engineering is about community 
				service, development, and improvement -- the planning, design, construction, 
				and 
				operation of facilities essential to modern life, ranging from transit systems 
				to offshore structures to space satellites. Civil engineers are problem 
				solvers, 
				meeting the challenges of pollution, traffic congestion, drinking water and 
				energy needs, urban redevelopment, and community planning. 
				<br />
				Our future as a nation will be closely tied to space, energy, the 
				environment, and our ability to interact with and compete in the global 
				economy. You, as a 
				civil engineer, will perform a vital role in linking these themes and improving 
		  quality of life for the 21st century. </p>
			<p> As the technological revolution expands, as the world's population increases, 
				and as environmental concerns mount, your skills will be needed. There is no 
				limit to the personal satisfaction you will feel from helping to make our world 
				a 
				better place to live. Whatever area you choose, be it design, construction, 
				research, teaching, or management, civil engineering offers you a wide range of 
				career choices for your future. <br />
		  </p>
			<p>Civil engineering is grouped into seven major divisions of engineering: 
				structural; environmental; geotechnical; water resources; transportation; 
				construction; and urban planning. In practice, these are not always hard and 
				fixed 
				categories, but they offer a helpful way to review a very diverse and dynamic 
		  field. </p>
			<div align="right">[ <a href="javascript:scroll(0,0)">Top</a> ]</div>
	  <br />
			<img align="right" src="{php}echo base_url(){/php}images/branches/civil1.jpg" alt="Civil Engineering" />
	  <p class="cut-off">Day in the Life<span class="cutoff"><a name="DayintheLife" id="DayintheLife"></a></span></p>
	  <p>The only constant in the professional lives of civil engineers is that they 
				never have typical days. Every day is different, bringing new challenges and unique 
				demands, and the nature of these demands varies according to the specialization 
				and seniority of the engineer. Most report they work in teams, they spend time 
				on things not necessarily well described in their titles, they concern themselves 
				with continuing education and networking part of the time. Virtually all 
				engineers spend some part of every day doing some routine administrative tasks, and 
				newly-graduated engineers may be surprised to find they will most likely file, 
				type, send e-mail, make phone calls, take notes in meetings, and many other ordinary 
		  chores.</p>
			<div align="right">[ <a href="javascript:scroll(0,0)">Top</a> ]</div>
			<p class="cut-off">Teams and Coworkers<span class="cutoff"><a name="Teams" id="Teams"></a></span></p>
	  <p>Almost all jobs in civil engineering require some sort of interaction with 
				coworkers. Whether they are working in a team situation, or just asking for advice, 
			most engineers have to have the ability to communicate and work with other people.</p>
		  <div align="right">[ <a href="javascript:scroll(0,0)">Top</a> ]</div>
		  <p><br />
      </p>
		  <p class="cut-off">Tasks and Titles<span class="cutoff"><a name="JobDuties" id="JobDuties"></a></span></p>
	  <p>Civil engineers have a wide array of specialty areas to choose from. The titles 
				civil engineers hold are far more broad than most people know and their duties 
		  are even more diverse.<br />
		  </p>
		  <p class="cut-off">Women and Minorities</p>
			<p>Once engineering was predominantly a field belonging to white males, as were 
				most professionals in the western world. This is arguably no longer the case, 
				although there is still progress to be made. In the case of women, the percentage of 
		  engineering bachelor's degrees has been on the rise.</p>
			<div align="right">[ <a href="javascript:scroll(0,0)">Top</a> ]</div>
			<p class="cut-off">Specialization<span class="cutoff"><a name="TheWorkplace" id="TheWorkplace"></a></span></p>
			There are seven major disciplines within civil engineering that are closely 
<br />
			<br />
			<span class="grey-context">Structural</span><br />
			<p>As a structural engineer, you will face the challenge of designing structures 
				that support their own weight and the loads they carry, and that resist wind, 
				temperature, earthquake, and many other forces. Bridges, buildings, offshore 
				structures, space platforms, amusement park rides, and many other kinds of 
				projects 
				are included within this exciting discipline. You will develop the appropriate 
				combination of steel, concrete, timber, plastic, and new exotic materials. You 
				will do the planning and design, as well as visit the project site to make sure 
				the 
		  work is done properly.</p>
			<p><span class="grey-context">Environmental</span><br />
		      <img align="right" src="{php}echo base_url(){/php}images/branches/civil2.jpg" alt="Civil Engineering" />		  </p>
		  <p>The skills of environmental engineers are becoming increasingly important as 
				we attempt to protect the fragile resources of our planet. Environmental 
				engineers translate physical, chemical, and biological processes into systems 
				to 
				destroy toxic substances, remove pollutants from water, reduce non-hazardous 
				solid 
				waste volumes, eliminate contaminates from the air, and develop groundwater 
				supplies. In this field, you may be called upon to resolve issues of providing 
				safe 
				drinking water, cleaning up sites contaminated with hazardous materials, 
				disposing 
		  of wastewater, and managing solid wastes.</p>
			<span class="grey-context">Geotechnical</span><br />
			<p>Geotechnical engineering is required in all aspects of civil engineering, 
				because most projects are supported by the ground. As a geotechnical engineer, 
				you 
				might develop projects below ground, such as tunnels, foundations, and offshore 
				platforms. You will analyze the properties of soil and rock that support and 
				affect the behavior of these structures. You may evaluate the potential 
				settlements 
				of buildings, the stability of slopes and fills, the seepage of ground water 
				and 
				the effects of earthquakes. You will investigate the rocks and soils at a 
				project site and determine the best way to support a structure in the ground. 
				You may 
				also take part in the design and construction of dams, embankments, and 
		  retaining walls.</p>
			<div align="right">[ <a href="javascript:scroll(0,0)">Top</a> ]</div>
<span class="grey-context"> Water Resources</span><br />
			<p>Water is essential to our lives, and as a water resources engineer, you will 
				deal with issues concerning the quality and quantity of water. You will work to 
				prevent floods, to supply water for cities, industry, and irrigation, to treat 
				wastewater, to protect beaches, or to manage and redirect rivers. You might be 
				involved in the design, construction, or maintenance of hydroelectric power 
				facilities, canals, dams, pipelines, pumping stations, locks, or seaport 
		  facilities.</p>
			<span class="grey-context">Transportation</span><br />
			<p>Because the quality of a community is directly related to the quality of its 
				transportation system, your function as a transportation engineer will be to 
				move people, goods, and materials safely and efficiently. Your challenge will 
				be to 
				find ways to meet our ever-increasing travel needs on land, air, and sea. You 
				will design, construct, and maintain all types of transportation facilities, 
				including highways, railroads, airfields, and ports. An important part of 
				transportation engineering is to upgrade our transportation capability by 
				improving traffic 
				control and mass transit systems, and by introducing high-speed trains, people 
		  movers, and other new transportation methods.</p>
			<span class="grey-context">Construction</span><br />
			<p>As a construction engineer, you are the builder of our future. The 
				construction phase of a project represents the first tangible result of design. 
				Using your 
				technical and management skills will allow you to turn designs into reality 
				&ndash; on time and within budget. You will apply your knowledge of 
				construction 
				methods and equipment, along with the principles of financing, planning, and 
		  managing, to turn the designs of other engineers into successful projects. </p>
			<span class="grey-context">Urban Planning</span><br />
			<img align="right" src="{php}echo base_url(){/php}images/branches/civil3.jpg" alt="Civil Engineering" />
			<p>As a professional in this area, you will be concerned with the entire 
				development of a community. Analyzing a variety of information will help you 
				coordinate 
				projects, such as projecting street patterns, identifying park and recreation 
				areas, and determining areas for industrial and residential growth. To ensure 
				ready access to your community, coordination with other authorities may be 
				required 
				to integrate freeways, airports, and other related facilities. Successful 
				coordination of a project will require you to be people-oriented as well as 
		  technically knowledgeable.</p>
			<div align="right">[ <a href="javascript:scroll(0,0)">Top</a> ]</div>
			<p class="cut-off">Employment<span class="cutoff"><a name="Employment" id="Employment"></a></span></p>
	  <p>According to the U.S. Bureau of Labor Statistics, civil engineers hold about 
				256,000 jobs. This represents 17% of the 1.5 million jobs held by engineers in 
		  the U.S. </p>
						Employment opportunities for civil engineers exist all over the world. Civil 
			engineers are needed everywhere to plan, design, construct, operate, improve, 
			and renovate the projects essential to modern comfort and growth. Where you 
			work 
			makes a big difference to your career. The key to making a success of a foreign 
			assignment is being prepared, considering all the issues, and having a clear 
<br />
			<br />
			<p class="cut-off">Globalization</p>
			<p>While there are abundant opportunities to work internationally as a civil 
				engineer, it takes some special preparation to do well abroad. Speaking more 
				than 
				one language is a major factor. Being able to adapt to new conditions rapidly 
				is 
				another. Although the international workforce is becoming more mobile every 
				day, 
				traditionally big engineering firms tend to send experienced senior level staff 
				on international assignments. Studying abroad is one way to investigate how 
				interested you are in working internationally. Some form of international work 
				or 
				study experience is a strong credential for a young civil engineer. Even if you 
				do 
				not want to work in other countries on a regular basis, understanding 
				engineering from a global perspective will enhance your ability to complete 
				domestically 
		  in what is, increasingly, a world market.</p>
			<div align="right">[ <a href="javascript:scroll(0,0)">Top</a> ]</div>
			<p class="cut-off">Career Path Forecast<span class="cutoff"><a name="CareerPathForecast" id="CareerPathForecast"></a></span></p>
	  <p>This is faster than the average for all occupations. 
				Spurred by general population growth and the related need to improve the 
				Nation's infrastructure, more civil engineers will be needed to design and construct or 
				expand transportation, water supply, and pollution control systems and buildings 
		  and building complexes.</p>
			<p>They also will be needed to repair or replace existing roads, bridges, and other 
		  public structures.</p>
			<p> Because construction industries and architectural, engineering and related 
				services employ many civil engineers, employment opportunities will vary by 
				geographic area and may decrease during economic slowdowns, when construction is often 
		  curtailed. </p>
		    <div align="right">[ <a href="javascript:scroll(0,0)">Top</a> ]</div>
  </div>
	</div>
</div>
