<div id="center" class="floatr">
	<div id="v-thin-line"><div class="basic-text">
	<h1>Information Technology and Software engineering</h1>
   <div class="large-context">
        <ul>
		  <li><a href="#Overview">Overview</a></li>
	      <li><a href="#DayintheLife">Day in the Life</a></li>
		  <li><a href="#Teams">Teams and Coworkers</a></li>
		  <li><a href="#Employment">Employment</a> </li>
		  <li><a href="#CareerPathForecast">Career Path Forecast </a></li>
		</ul>
        </div>
		<p class="cut-off">Overview<a name="Overview" id="Overview"></a></p>
	<p>The explosive impact of computers and information technology on our everyday 
		lives has generated a need to design and develop new computer software systems and 
		to incorporate new technologies into a rapidly growing range of applications. 
		The tasks performed by workers known as computer software engineers evolve 
		quickly, reflecting new areas of specialization or changes in technology, as well as 
		the preferences and practices of employers. 
  Computer software engineers apply the principles and techniques of computer science, engineering, and mathematical analysis to the design, development, testing, and evaluation of the software and systems that enable computers to perform their many applications. 
  Software engineers working in applications or systems development analyze users' needs and design, construct, test, and maintain computer applications software or systems. Software engineers can be involved in the design and development of many types of software, including software for operating systems and network distribution, and compilers, which convert programs for execution on a computer. In programming, or coding, software engineers instruct a computer, line by line, how to perform a function. They also solve technical problems that arise. Software engineers must possess strong programming skills, but are more concerned with developing algorithms and analyzing and solving programming problems than with actually writing code.</p>
    <div align="right">[ <a href="javascript:scroll(0,0)">Top</a> ]</div>
    <p class="grey-context">Specialty Areas</p><img align="right" src="{php}echo base_url(){/php}images/branches/infotech1.jpg" alt="Information Technology />

    <p>Computer applications software engineers analyze users' needs and design, 
		construct, and maintain general computer applications software or specialized utility 
		programs. These workers use different programming languages, depending on the 
		purpose of the program. The programming languages most often used are C, C++, and 
		Java, with Fortran and COBOL used less commonly. Some software engineers develop 
		both packaged systems and systems software or create customized applications. </p>
	<p class="grey-context">Computer Systems Software Engineers</p>
	<p>Computer systems software engineers coordinate the construction and maintenance 
		of a company's computer systems and plan their future growth. Working with the 
		company, they coordinate each department's computer needs -- ordering, inventory, 
		billing, and payroll recordkeeping, for example -- and make suggestions about 
		its technical direction. They also might set up the company's intranets -- 
		networks that link computers within the organization and ease communication among the 
		various departments.</p>
	<p>Systems software engineers work for companies that configure, implement, and 
		install complete computer systems. These workers may be members of the marketing or 
		sales staff, serving as the primary technical resource for sales workers and 
		customers. They also may be involved in product sales and in providing their 
		customers with continuing technical support. Since the selling of complex computer 
		systems often requires substantial customization for the purchaser's organization, 
		software engineers help to explain the requirements necessary for installing and 
		operating the new system in the purchaser's computing environment. In addition, 
		systems software engineers are responsible for ensuring security across the 
		systems they are configuring.</p>
	<div align="right">[ <a href="javascript:scroll(0,0)">Top</a> ]</div>
	<p class="cut-off">Day in the Life<span class="cutoff"><a name="DayintheLife" id="DayintheLife"></a></span><img align="right" src="{php}echo base_url(){/php}images/branches/infotech3.jpg" alt="Information Technology /&gt;
  Computer software engineers apply the principles and techniques of computer science, engineering, and mathematical analysis to the design, development, testing, and evaluation of the software and systems that enable computers to perform their many applications. 
  Software engineers working in applications or systems development analyze users' needs and design, construct, test, and maintain computer applications software or systems. Software engineers can be involved in the design and development of many types of software, including software for operating systems and network distribution, and compilers, which convert programs for execution on a computer. In programming, or coding, software engineers instruct a computer, line by line, how to perform a function. They also solve technical problems that arise. Software engineers must possess strong programming skills, but are more concerned with developing algorithms and analyzing and solving programming problems than with actually writing code.&lt;/p&gt;
&lt;p class=" cut-off="cut-off" /></p>
	<p>Software engineers usually work in offices or laboratories in comfortable 
		surroundings. They usually work about 40 hours a week -- the same as many other 
		professional or office workers do. As they strive to improve software for users, many 
		computer software engineers interact with customers and coworkers. Computer 
		software engineers who are employed by software vendors and consulting firms, for 
		example, spend much of their time away from their offices, frequently traveling 
		overnight to meet with customers. They call on customers in businesses ranging 
		from manufacturing plants to financial institutions. As networks expand, software 
		engineers may be able to use modems, laptops, e-mail, and the Internet to provide 
		more technical support and other services from their main office, connecting to 
		a customer's computer remotely to identify and correct developing problems.</p>
	<div align="right">[ <a href="javascript:scroll(0,0)">Top</a> ]</div>
	<p>Teams and Coworkers<span class="cut-off"><span class="cutoff"><a name="Teams" id="Teams"></a></span></span></p>
	<p>Almost all jobs in engineering require some sort of interaction with coworkers. 
		Computer software engineers often work as part of a team that designs new 
		hardware, software, and systems. A core team may comprise engineering, marketing, 
		manufacturing, and design people, who work together until the product is released. 
		Whether they are working in a team situation, or just asking for advice, most 
		engineers have to have the ability to communicate and work with other people.</p>
	<p>Engineers should be creative, inquisitive, analytical, and detail-oriented. They 
		should be able to work as part of a team and to communicate well, both orally 
		and in writing. Communication abilities are important because engineers often 
		interact with specialists in a wide range of fields outside engineering. 
		Writing and presentation skills are also vital so engineers can share their 
		research and experiences with colleagues through topical meetings, professional 
		associations, and various publications.</p>
	<div align="right">[ <a href="javascript:scroll(0,0)">Top</a> ]</div>
	<p class="cut-off">Career Path Forecast<span class="cutoff"><a name="CareerPathForecast" id="CareerPathForecast"></a></span><img align="right" src="{php}echo base_url(){/php}images/branches/infotech5.jpg" alt="Information Technology /&gt;
  Computer software engineers apply the principles and techniques of computer science, engineering, and mathematical analysis to the design, development, testing, and evaluation of the software and systems that enable computers to perform their many applications. 
  Software engineers working in applications or systems development analyze users' needs and design, construct, test, and maintain computer applications software or systems. Software engineers can be involved in the design and development of many types of software, including software for operating systems and network distribution, and compilers, which convert programs for execution on a computer. In programming, or coding, software engineers instruct a computer, line by line, how to perform a function. They also solve technical problems that arise. Software engineers must possess strong programming skills, but are more concerned with developing algorithms and analyzing and solving programming problems than with actually writing code.&lt;/p&gt;
&lt;p class=" cut-off="cut-off" /></p>
	<p>Firms may look to cut costs by shifting operations to foreign countries with 
	  lower prevailing wages and highly educated workers. Jobs in software engineering 
	  are less prone to being offshored than are jobs in other computer specialties, 
	  however, because software engineering requires innovation and intense research 
	  and development.
	  As a result of rapid employment growth over the 2006 to 2016 decade, job 
	  prospects for computer software engineers should be excellent. Employers will continue 
	  to seek computer professionals with strong programming, systems analysis, 
	  interpersonal, and business skills. In addition to jobs created through employment 
	  growth, many job openings will result from the need to replace workers who move 
	  into managerial positions, transfer to other occupations, or leave the labor force. 
	  Consulting opportunities for computer software engineers also should continue to 
	  grow as businesses seek help to manage, upgrade, and customize their 
	  increasingly complicated computer systems.	  </p>
	<div align="right">[ <a href="javascript:scroll(0,0)">Top</a> ]</div>
	<p class="cut-off">Employment<span class="cutoff"><a name="Employment" id="Employment"></a></span></p>
	<p>Although they are employed in most industries, the largest concentration of 
		computer software engineers -- more than 29 percent -- is in computer systems design 
		and related services.</p>
	<p>Many computer software engineers also work for establishments in other 
		industries, such as software publishers, government agencies, manufacturers of computers 
		and related electronic equipment, financial institutions, insurance providers, 
		and management of companies and enterprises.
		An increasing number of computer software engineers work as independent 
		consultants on a temporary or contract basis, many of whom are self-employed. About 
		17,000 computer software engineers are self-employed. 
		Employers of computer software engineers range from startup companies to 
		established industry leaders. The <img src="{php}echo base_url(){/php}images/branches/infotech2.jpg" alt="Information Technology /&gt;
  Computer software engineers apply the principles and techniques of computer science, engineering, and mathematical analysis to the design, development, testing, and evaluation of the software and systems that enable computers to perform their many applications. 
  Software engineers working in applications or systems development analyze users' needs and design, construct, test, and maintain computer applications software or systems. Software engineers can be involved in the design and development of many types of software, including software for operating systems and network distribution, and compilers, which convert programs for execution on a computer. In programming, or coding, software engineers instruct a computer, line by line, how to perform a function. They also solve technical problems that arise. Software engineers must possess strong programming skills, but are more concerned with developing algorithms and analyzing and solving programming problems than with actually writing code.&lt;/p&gt;
&lt;p class=" align="right" cut-off="cut-off" />proliferation of Internet, e-mail, and other 
		communications systems is expanding electronics to engineering firms that are 
		traditionally associated with unrelated disciplines. Engineering firms specializing in 
		building bridges and power plants, for example, hire computer software engineers 
		to design and develop new geographic data systems and automated drafting systems.
		Communications firms need computer software engineers to tap into growth in the 
		personal communications market. Major communications companies have many job 
		openings for both computer software applications engineers and computer systems 
		engineers.
		As is the case with most occupations, advancement opportunities for computer 
		software engineers increase with experience. </p>
	<p>Entry-level computer software engineers are likely to test and verify ongoing 
		designs. As they become more experienced, they may become involved in designing 
		and developing software. Eventually, they may advance to become a project manager, 
		manager of information systems, or chief information officer. Some computer 
		software engineers with several years of experience or expertise find lucrative 
		opportunities working as systems designers or independent consultants or starting 
		their own computer consulting firms.</p>
	<div align="right">[ <a href="javascript:scroll(0,0)">Top</a> ]</div>
	<p>&nbsp;</p>
	</div>
</div></div>