<div id="center" class="floatr">
	<div id="v-thin-line">
		<div class="basic-text">
			<h1>Metallurgical Engineering</h1>
            <div class="large-context">
        <ul>
		  <li><a href="#Overview">Overview</a></li>
	      <li><a href="#Employment">Employment</a> </li>
		  <li><a href="#CareerPathForecast">Career Path Forecast </a></li>
		</ul>
        </div>
            <p class="cut-off">Overview<a name="Overview" id="Overview"></a></p>
<img align="right" src="{php}echo base_url(){/php}images/branches/metallurgy1.jpg" alt="Metallurgical Engineering" />
			<p>Metallurgical engineers extract, refine, and recycle metals. They solve problems 
				such as reducing corrosion, maintaining heat levels, and increasing the strength 
				of a product. 
				They help develop or improve metals that are used in healthcare, in 
				transportation, in defense, and in the entertainment industry. 
				The work of a metallurgical engineer impacts most other engineering fields as 
				they develop core materials that can enhance the function of many products and 
				systems.
				Metallurgical engineering students take courses such as Thermodynamics, 
				Physical Metallurgy, Corrosion Engineering, Powder Metallurgy, Hydrometallurgy, and 
				Electrometallurgy. </p>
			<div align="right">[ <a href="javascript:scroll(0,0)">Top</a> ]</div>
			<p><span class="cut-off"><img align="right" src="{php}echo base_url(){/php}images/branches/metallurgy2.jpg" alt="Metallurgical Engineering" /></span></p>
		  <p class="cut-off">Employment/Earnings<span class="cutoff"><a name="Employment" id="Employment"></a></span></p>
			<p>Metallurgical engineers are employed in many industries and work for companies 
				refine, produce, manufacture and distribute metals. Because metals are used in so 
				many industries, employment can be in large companies or small consulting firms. 
				Salary ranges for metallurgical engineers are usually categorized under the 
				materials engineering discipline in salary surveys. There are very few accredited 
				metallurgical engineering programs, and so employment rates for those graduating 
				with a bachelors degree in metallurgical engineering are are extremely high.</p>
			<div align="right">[ <a href="javascript:scroll(0,0)">Top</a> ]</div>
		  <p class="cut-off">Career Path Forecast<span class="cutoff"><a name="CareerPathForecast" id="CareerPathForecast"></a></span><img align="right" src="{php}echo base_url(){/php}images/branches/metallurgy3.jpg" alt="Metallurgical Engineering" /></p>
		  <p>Metallurgical engineers can expect to have employment growth about as fast as 
				the average for all occupations. Metallurgical engineers will be needed to develop 
				new materials for electronics, biotechnology, and other areas. </p>
		</div>
	</div>
</div>
